<!--
=========================================================
* Soft UI Design System PRO - v1.1.0
=========================================================

* Product Page:  https://themes.getbootstrap.com/product/soft-ui-design-system-pro/ 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage" >

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../../assets/img/favicon.png">
	<title>
		Soft UI Design System PRO by Creative Tim
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="../../assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link id="pagestyle" href="../../assets/css/soft-design-system-pro.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="blog-posts">
	<!-- Navbar Light -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
		<div class="container">
			<a class="navbar-brand font-weight-bold" href="/">
				<img src="/images/logo.jpg" alt="Soft UI PRO" style="max-width: 300px; height: 45PX;">
			</a>

			<a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard"
				class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>
			<button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
				data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon mt-2">
					<span class="navbar-toggler-bar bar1"></span>
					<span class="navbar-toggler-bar bar2"></span>
					<span class="navbar-toggler-bar bar3"></span>
				</span>
			</button>
			<div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
				<ul class="navbar-nav navbar-nav-hover mx-auto">
					<li class="nav-item dropdown dropdown-hover mx-2">
						<a href="/certification"
							class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" role="button" style="font-size: 1.3rem;">
							<!-- 여기에 원하는 크기를 설정하세요 -->
							COMPANY
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>


						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														인사말
													</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														회사연혁
													</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md" href=" /certification">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														기술인증
													</h6>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>

					<li class="nav-item dropdown dropdown-hover mx-2">
						<a href="/sism"
							class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" role="button" style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							BUSINESS
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>



						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														사업내용
													</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														아웃소싱
													</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md" href="/sism">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														SI / SM
													</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md" href="/consulting">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														컨설팅
													</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														솔루션
													</h6>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>
					<li class="nav-item dropdown dropdown-hover mx-2">
						<a href="/welfare"
							class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" role="button" style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							RECRUIT
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>

						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														복지제도
													</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														채용안내
													</h6>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>
					<li class="nav-item dropdown dropdown-hover mx-2">
						<a href=""
							class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" role="button" style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							CONTACT US
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>

						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md" href="">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														찾아오는 길
													</h6>

												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>
					<li class="nav-item dropdown dropdown-hover mx-2">
						<a href=""
							class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" role="button" style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							ABOUT US
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>

						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md" href="">
											<div class="d-flex">

												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
														공지사항
													</h6>
												</div>
											</div>
										</a>
									</li>
									
								</ul>
							</div>

						</div>
						
					</li>
				

				</ul>
				

				<a th:href="@{/login}" sec:authorize="isAnonymous()"><button class="styled-button">Admin</button></a>
				<a th:href="@{/logout}" sec:authorize="isAuthenticated()"><button
						class="styled-button">logout</button></a>
						
	<a sec:authorize="isAuthenticated()" id="minsoftLink" onclick="redirectToExternalIP()">
    <button class="button">Minsoft</button>
</a>
						
			</div>


		</div>
	</nav>
	<!-- End Navbar -->
	<!-- -------- START HEADER 11 w/ carousel ------- -->
	<header>
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="page-header min-vh-45  border-xl"
						style="background-image: url('/images/business/sismmain.jpg');">
						<span class="mask bg-gradient-dark" style="opacity: 0.5;"></span>
						<div class="container">
							<div class="row">
								<div class="col-lg-12 my-auto">
									<h1 class="text-white fadeIn2">공지사항</h1>
								</div>
							</div>
						</div>
					</div>


				</div>

			</div>
		</div>
	</header>
	<!-- -------- END HEADER 11 w/ carousel ------- -->

	<main>
	<div class="row">
    <div class="row justify-content-center">
        <h2 class="gong">공지사항</h2>
        <div sec:authorize="isAuthenticated()" style="margin-left:149%;">
            <button type="button" class="btn custom-btn" id="writeButton">글 쓰기</button>
        </div>
    </div>
</div>



		<div class="row">
			<div class="offset-2 col-8">
				<table class="table list-table table-hover text-center" style="margin-top: 2%;">
					<thead style="background-color: gainsboro">
						<tr>
							<th style="width: 10%">번호</th>
							<th style="width: 45%">제목</th>
							<th style="width: 10%">작성자</th>
							<th style="width: 3%"></th>
							
						</tr>
					</thead>
					<tbody>
						 <tr th:each="board : ${boards}"
                    th:onclick="|location.href='@{/boarddetail/{id}(id=${board.id})}'|">
                    <td th:text="${board.id}"></td>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.author != null ? board.author.name : '관리자'}"></td>
                    <td th:text="${board.isPublic ? '' : '🔒'}"></td>
                </tr>
					</tbody>
				</table>
			</div>
			<ul id="paging-ul" class="pagination justify-content-center"></ul>
		</div>

	</main>

	<footer id="footer">
		<div class="row text">
			<div class="col-lg-6 footer-contact">
				<p><strong></strong>주식회사 민소프트</p>
				<!--<p><strong>대표이사:</strong> 김민구</p>-->
				<p><strong></strong>Tel) 02-6482-0051 | Fax) 02-6483-0051</p>
				<p><strong></strong>E-mail: youn628@naver.com</p>
				<p><strong></strong>07788) 서울시 강서구 마곡서로 158, 1306호 ( 마곡센트럴타워Ⅱ )</p>
				<p class="min">
					<img id="logoImg2" src="/images/logo.jpg" alt="로고 이미지">
					&copy; Copyright <strong><span>주식회사 민소프트</span></strong>. All Rights Reserved
				</p>
			</div>

		</div>
	</footer>
	<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
	<script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../assets/js/plugins/perfect-scrollbar.min.js"></script>
	<!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
	<script src="../../assets/js/plugins/typedjs.js"></script>
	<script src="../../assets/js/plugins/choices.min.js"></script>
	<script src="../../assets/js/plugins/flatpickr.min.js"></script>
	<!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
	<script src="../../assets/js/plugins/parallax.min.js"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
	<!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
	<script src="../../assets/js/plugins/glidejs.min.js" type="text/javascript"></script>
	<!--  Plugin for the blob animation -->
	<script src="../../assets/js/plugins/anime.min.js" type="text/javascript"></script>
	<!-- Chart JS -->
	<script src="../../assets/js/plugins/chartjs.min.js"></script>
	<!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
	<script src="../../assets/js/soft-design-system-pro.min.js?v=1.1.0" type="text/javascript"></script>
	<script th:inline="javascript">
		if (document.getElementById('language-select')) {
			var element = document.getElementById('language-select');
			const example = new Choices(element, {
				searchEnabled: false
			});

		}
		if (document.getElementById('currency-select')) {
			var element = document.getElementById('currency-select');
			const example = new Choices(element, {
				searchEnabled: false
			});
		}

		/*헤더 네비바 따라 내려오게하는 스크립트*/
		window.addEventListener('scroll', function () {
			var navbar = document.querySelector('.navbar');
			if (window.scrollY > 50) { // 스크롤 위치가 50px 이상인 경우
				navbar.classList.add('fixed-top'); // 고정된 위치로 설정
			} else {
				navbar.classList.remove('fixed-top'); // 일반 위치로 설정
			}
		});
		/*글쓰기 버튼 클릭시 글쓰기 페이지 이동하는 스크립트*/
		document.getElementById("writeButton").addEventListener("click", function () {
			window.location.href = "/boardwriting";
		});

		/*<![CDATA[*/  /*로그인했을시 글쓰기 버튼 활성화 스크립트*/
		var isLoggedIn = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
		window.onload = function () {
			updateButtonStatus();
		}

		function updateButtonStatus() {
			var writeButton = document.getElementById('writeButton');
			if (isLoggedIn) {
				writeButton.disabled = false;
			} else {
				writeButton.disabled = true;
			}
		}
		/*]]>*/
		<!-- 민소프트 ip 주소 변경 스크립트-->
		 function redirectToExternalIP() {
        window.location.href = 'http://192.168.0.19:8178/login';
    }
	</script>
</body>
<style>
	/*헤더 부분 css 시작*/
	.text-white {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		/* Adjust as needed */
		margin: 0;
		/* Remove any default margin */

	}

	.btn {
		/*배너 사진밑에 버튼 CSS*/

		padding: 10px 50px;
		/* 버튼의 내부 여백을 조정합니다. */
		margin: 50px;
		/* 버튼 사이의 간격을 설정합니다. */
		color: black;
		background-color: white;
		font-size: 30px;
		font-weight: 500;
		/* 글자를 굵게 설정합니다. */
	}

	.mainbutton {
		/*배너 아래 버튼 마진 css*/
		text-align: center;
		margin-bottom: 70px;

	}

	.btn-light:hover {
		/*버튼 호버 색상 변경*/
		color: white;
		/* 호버시 텍스트 색상 변경 */
		background-color: lightgrey;
		/* 호버시 배경색 변경 */
		border-color: blue;
		/* 호버시 테두리 색상 변경 */
	}

	.mainbutton .btn {
		border: none;
		/* 버튼 테두리를 없앱니다 */
	}

	.btn-custom-small {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
	}

	.btn-more-right {
		margin-right: 2rem;
		/* Adjust the value as needed */
	}

	/*헤더 부분 css 끝*/

	/*main시작 css*/
	
	
	/*admin 버튼 css*/

	.styled-button {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);

		background-color: black;
		border: none;
		color: white;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 14px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 12px;
		transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
	}

	.styled-button:hover {
		background-color: darkgray;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	}

	.styled-button:active {
		background-color: white;
		/* White background on click */
		color: black;
		/* Black text on click */
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
		transform: translateY(-50%) translateY(2px);
	}


	.custom-btn {
    background-color: #5e72e4; /* Change to desired background color */
    color: white; /* Set text color to white */
    border: none; /* Remove outline */
    padding: 8px 16px; /* Padding adjustment */
    cursor: pointer; /* Change mouse cursor */
    margin-right: 10px; /* 수정: 버튼 간격 조정 */
    
}

.custom-btn:disabled {
    background-color: #cccccc;
    /* 비활성화된 상태의 배경색 */
    cursor: not-allowed;
    /* 비활성화된 상태의 커서 */
}

.gong {
    margin-right: auto; /* 공지사항을 왼쪽으로 붙임 */
    margin-bottom: 0; /* 공지사항과 버튼 간격 조정 */
    font-size: 50px;
		/* 원하는 크기로 조정 */
		text-align: center;
		margin-top: 90px;

}



	/*main css 끝*/
	/*푸터 css 시작 */
	.min {
		/*밑에 저작권문구 위치조정*/
		position: absolute;
		bottom: 0;
		right: -70%;
	}

	#footer .footer-contact {
		position: relative;
		margin-left: 100px;
		/* 적당한 여백 값을 지정하세요. */
	}

	#logoImg2 {
		/*푸터부분 이미지위치*/
		position: absolute;
		top: -55px;
		/* 이미지를 위로 이동시킬 픽셀 수 */
		right: 20%;
	}

	#footer {
		/*푸터 위쪽 밑줄*/
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		/* 투명도가 있는 연한 회색으로 변경 */
		padding-top: 30px;
		/* 원하는 간격 설정 */
		margin-top: 50px;
	}



	#fixedNav .nav-link {
		font-weight: bold;
		/* 글자를 굵게 설정합니다. */
		color: black;
		/* 글자 색상을 검은색으로 설정합니다. */
		font-size: 25px;
		/* 원하는 크기로 설정하세요 */
		margin-bottom: 90px;
		/* 아래쪽으로 20px의 공간을 띄웁니다. */
	}

	.text-center {
		margin-top: 50px;
		/* 푸터 요소의 위쪽에 20px의 마진 추가 */
	}

	/*푸터 css 끝*/
	
	
	
	
	
	
	
</style>

</html>