<!--
=========================================================
* Soft UI Design System PRO - v1.1.0
=========================================================

* Product Page:  https://themes.getbootstrap.com/product/soft-ui-design-system-pro/ 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../../assets/img/favicon.png">
	<title>
		Soft UI Design System PRO by Creative Tim
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="../../assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link id="pagestyle" href="../../assets/css/soft-design-system-pro.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="blog-posts">
	<!-- Navbar Light -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
		<div class="container">
			<a class="navbar-brand font-weight-bold" href="#">
				<img src="/images/logo.jpg" alt="Soft UI PRO" style="max-width: 300px; height: 45PX;">
			</a>

			<a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard"
				class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>
			<button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
				data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon mt-2">
					<span class="navbar-toggler-bar bar1"></span>
					<span class="navbar-toggler-bar bar2"></span>
					<span class="navbar-toggler-bar bar3"></span>
				</span>
			</button>
			<div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
				<ul class="navbar-nav navbar-nav-hover mx-auto">
					<li class="nav-item dropdown dropdown-hover mx-2">
						<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
							style="font-size: 1.2rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							COMPANY
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>

						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														인사말</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														회사 연혁</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														기술인증</h6>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>

					<li class="nav-item dropdown dropdown-hover mx-2">
						<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
							style="font-size: 1.2rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							BUSINESS
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>

						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														사업내용</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														IT 아웃소싱</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														SI / SM</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														컨설팅</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														솔루션</h6>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>
					<li class="nav-item dropdown dropdown-hover mx-2">
						<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
							style="font-size: 1.2rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							RECRUIT
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>

						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														복지제도</h6>
												</div>
											</div>
										</a>
									</li>
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														채용안내</h6>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>
					<li class="nav-item dropdown dropdown-hover mx-2">
						<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
							style="font-size: 1.2rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							CONTACT US
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>

						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														찾아오는 길</h6>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>
					<li class="nav-item dropdown dropdown-hover mx-2">
						<a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
							id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
							style="font-size: 1.2rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
							ABOUT US
							<img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
						</a>

						<div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
							aria-labelledby="dropdownMenuDocs">
							<div class="d-none d-lg-block">
								<ul class="list-group">
									<li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md"
											href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
											<div class="d-flex">

												<div>
													<h6
														class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
														공지사항</h6>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>

						</div>
					</li>
				</ul>

			</div>
		</div>
	</nav>
	<!-- End Navbar -->
	<!-- -------- START HEADER 11 w/ carousel ------- -->
	<header>
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="page-header min-vh-45 m-0 border-xl"
						style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/mark.jpg');">
						<span class="mask bg-gradient-dark"></span>
						<div class="container">
							<div class="row">
								<div class="col-lg-12 my-auto">

									<h1 class="text-white fadeIn2">기술인증</h1>

								</div>
							</div>
						</div>
					</div>

				</div>
				<!--		<div class="carousel-item">
					<div class="page-header min-vh-75 m-3 border-radius-xl"
						style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/meeting.jpg');">
						<span class="mask bg-gradient-dark"></span>
						<div class="container">
							<div class="row">
								<div class="col-lg-6 my-auto">
									<h4 class="text-white mb-0 fadeIn1 fadeInBottom">MinSoft</h4>
									<h1 class="text-white fadeIn2 fadeInBottom">혁신적인 도전 정신</h1>
									<p class="lead text-white opacity-8 fadeIn3 fadeInBottom">우리나라 산업을 대표하는 정보 통신의 발전과
										함께 어려운 환경을
										극복하고 성장해 왔습니다. 이는 모두 회사의 발전을 위해 노력한 임직원들의 수고와 민소프트를 아껴주시는
										고객 여러분의 애정이 밑거름이 된 값진 결실입니다.</p>
								</div>
							</div>
						</div>
					</div>
			</div> -->
				<!--	<div class="carousel-item">
					<div class="page-header min-vh-75 m-3 border-radius-xl"
						style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/meeting.jpg');">
						<span class="mask bg-gradient-dark"></span>
						<div class="container">
							<div class="row">
								<div class="col-lg-6 my-auto">
									<h4 class="text-white mb-0 fadeIn1 fadeInBottom">Our Team</h4>
									<h1 class="text-white fadeIn2 fadeInBottom">Work with the best</h1>
									<p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Free people make free
										choices. Free choices mean you get unequal outcomes. You can have freedom, or
										you can have equal outcomes. You can’t have both.</p>
								</div>
							</div>
						</div>
					</div> 
			</div> -->
				<!--메인 이미지 옆에 화살표 코드-->
				<!--<div class="min-vh-75 position-absolute w-100 top-0">
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
						<span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
						<span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</a>
				</div>-->

			</div>
		</div>
	</header>
	<!-- -------- END HEADER 11 w/ carousel ------- -->
	<main>
		<div class="mainbutton">
			<a href="/consulting" class="btn btn-light">사업내용</a>
			<a href="/consulting" class="btn btn-light">IT 아웃소싱</a>
			<a href="/business" class="btn btn-light">SI / SM</a>
			<a href="/consulting" class="btn btn-light">컨설팅</a>
			<a href="/consulting" class="btn btn-light">솔루션</a>
		</div>

		<section class="py-7">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-5 ms-auto me-auto text-center">
		        <div class="p-3 info-hover-warning">
		          <div class="icon icon-shape bg-gradient-primary shadow icon-shape-circle text-primary">
		            <i class="fa fa-cogs"></i>
		          </div>
		        </div>
		        <h3 class="text-gradient text-primary mb-0 mt-4">Beware The Components</h3>
		        <h3>How To Handle Them</h3>
		        <p>We’re constantly trying to express ourselves and actualize our dreams. Don't stop.</p>
		      </div>
		    </div>
		    <div class="row mt-5">
		      <div class="col-md-4 ms-auto my-auto">
		        <div class="cursor-pointer">
		          <div class="card card-background tilt" data-tilt="">
		            <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-working.jpg')"></div>
		            <div class="card-body pt-7 text-center">
		              <div class="icon icon-lg up mb-3">
		                <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                  <title>chart-pie-35</title>
		                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		                    <g transform="translate(-1720.000000, -742.000000)" fill="#FFFFFF" fill-rule="nonzero">
		                      <g transform="translate(1716.000000, 291.000000)">
		                        <g transform="translate(4.000000, 451.000000)">
		                          <path d="M21.6666667,18.3333333 L39.915,18.3333333 C39.11,8.635 31.365,0.89 21.6666667,0.085 L21.6666667,18.3333333 Z" opacity="0.602864583"></path>
		                          <path d="M20.69,21.6666667 L7.09833333,35.2583333 C10.585,38.21 15.085,40 20,40 C30.465,40 39.0633333,31.915 39.915,21.6666667 L20.69,21.6666667 Z"></path>
		                          <path d="M18.3333333,19.31 L18.3333333,0.085 C8.085,0.936666667 0,9.535 0,20 C0,24.915 1.79,29.415 4.74166667,32.9016667 L18.3333333,19.31 Z"></path>
		                        </g>
		                      </g>
		                    </g>
		                  </g>
		                </svg>
		              </div>
		              <h1 class="text-white up mb-0">Search and Discover!</h1>
		              <p class="lead up">Website visitors</p>
		              <button type="button" class="btn btn-white btn-lg mt-3 up">Get Started</button>
		            </div>
		          </div>
		        </div>
		      </div>
		      <div class="col-md-5 me-auto my-auto ms-md-5">
		        <div class="p-3 info-horizontal d-flex">
		          <div>
		            <h5>1. Listen to Social Conversations</h5>
		            <p>
		              Gain access to the demographics, psychographics, and location of unique people who are interested and talk about your brand.
		            </p>
		          </div>
		        </div>
		        <div class="p-3 info-horizontal d-flex">
		          <div>
		            <h5>2. Performance Analyze</h5>
		            <p>
		              Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to gain rich insights from easy-to-use reports.
		            </p>
		          </div>
		        </div>
		        <div class="p-3 info-horizontal d-flex">
		          <div>
		            <h5>3. Social Conversions</h5>
		            <p>
		              Track actions taken on your website that originated from social, and understand the impact on your bottom line.
		            </p>
		          </div>
		        </div>
		      </div>
		    </div>
		    <hr class="dark my-md-6 mt-2 mx-7">
		    <div class="row">
		      <div class="col-md-5 ms-auto my-auto">
		        <div class="p-3 info-horizontal d-flex">
		          <div style="line-height: 15%;">
					<h5>	
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;Strategy Consulting (IT 전략 수립 컨설팅)<br>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;Process Inovation Consulting<br>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;Impletation (변화관리컨설팅)<br>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;BPM (Business Process Reengineering)<br>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;CRM (Customer Relationship Management)<br>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;CPM (Certified Purchasing Management)<br>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;ERM (Enterprise Risk Management)<br>
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
						<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;SCM (Supply Chain Management)<br>
		            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;MIS (Management Information System)
					</h5><br>
		          </div>
		        </div>

		      </div>
		      <div class="col-md-4 me-auto my-auto ms-md-5">
		        <div class="cursor-pointer">
		          <div class="card card-background tilt" data-tilt="">
		            <div class="full-background" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/coffee-shop.jpg')"></div>
		            <div class="card-body pt-7 text-center">
		              <div class="icon icon-lg up mb-3">

		                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		                    <g transform="translate(-1717.000000, -291.000000)" fill="#FFFFFF" fill-rule="nonzero">
		                      <g transform="translate(1716.000000, 291.000000)">
		                        <g transform="translate(1.000000, 0.000000)">
		                          <path d="M45,0 L26,0 C25.447,0 25,0.447 25,1 L25,20 C25,20.379 25.214,20.725 25.553,20.895 C25.694,20.965 25.848,21 26,21 C26.212,21 26.424,20.933 26.6,20.8 L34.333,15 L45,15 C45.553,15 46,14.553 46,14 L46,1 C46,0.447 45.553,0 45,0 Z" opacity="0.59858631"></path>
		                          <path d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
		                          <path d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
		                        </g>
		                      </g>
		                    </g>
		                  </g>
		              </div>
		              <h1 class="text-white up mb-0"></h1>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>
		

	</main>
	<footer id="footer">
		<div class="row text">
			<div class="col-lg-6 footer-contact">
				<p><strong></strong>주식회사 민소프트</p>
				<!--<p><strong>대표이사:</strong> 김민구</p>-->
				<p><strong></strong>Tel) 02-6482-0051 | Fax) 02-6483-0051</p>
				<p><strong></strong>E-mail: youn628@naver.com</p>
				<p><strong></strong>07788) 서울시 강서구 마곡서로 158, 1306호 ( 마곡센트럴타워Ⅱ )</p>
				<p class="min">
					<img id="logoImg2" src="/images/logo.jpg" alt="로고 이미지">
					&copy; Copyright <strong><span>주식회사 민소프트</span></strong>. All Rights Reserved
				</p>
			</div>

		</div>
	</footer>
	<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
	<script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../assets/js/plugins/perfect-scrollbar.min.js"></script>
	<!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
	<script src="../../assets/js/plugins/typedjs.js"></script>
	<script src="../../assets/js/plugins/choices.min.js"></script>
	<script src="../../assets/js/plugins/flatpickr.min.js"></script>
	<!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
	<script src="../../assets/js/plugins/parallax.min.js"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
	<!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
	<script src="../../assets/js/plugins/glidejs.min.js" type="text/javascript"></script>
	<!--  Plugin for the blob animation -->
	<script src="../../assets/js/plugins/anime.min.js" type="text/javascript"></script>
	<!-- Chart JS -->
	<script src="../../assets/js/plugins/chartjs.min.js"></script>
	<!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
	<script src="../../assets/js/soft-design-system-pro.min.js?v=1.1.0" type="text/javascript"></script>
	<script>
		if (document.getElementById('language-select')) {
			var element = document.getElementById('language-select');
			const example = new Choices(element, {
				searchEnabled: false
			});

		}
		if (document.getElementById('currency-select')) {
			var element = document.getElementById('currency-select');
			const example = new Choices(element, {
				searchEnabled: false
			});
		}

		/*헤더 네비바 따라 내려오게하는 스크립트*/
		window.addEventListener('scroll', function () {
			var navbar = document.querySelector('.navbar');
			if (window.scrollY > 50) { // 스크롤 위치가 50px 이상인 경우
				navbar.classList.add('fixed-top'); // 고정된 위치로 설정
			} else {
				navbar.classList.remove('fixed-top'); // 일반 위치로 설정
			}
		});

	</script>
</body>
<style>
	/*헤더 부분 css 시작*/
	.text-white {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		/* Adjust as needed */
		margin: 0;
		/* Remove any default margin */

	}

	.btn {
		/*배너 사진밑에 버튼 CSS*/

		padding: 10px 50px;
		/* 버튼의 내부 여백을 조정합니다. */
		margin: 50px;
		/* 버튼 사이의 간격을 설정합니다. */
		color: black;
		background-color: white;
		font-size: 30px;
		font-weight: 500;
		/* 글자를 굵게 설정합니다. */
	}

	.mainbutton {
		/*배너 아래 버튼 마진 css*/
		text-align: center;
		margin-bottom: 70px;

	}

	.btn-light:hover {
		/*버튼 호버 색상 변경*/
		color: white;
		/* 호버시 텍스트 색상 변경 */
		background-color: lightgrey;
		/* 호버시 배경색 변경 */
		border-color: blue;
		/* 호버시 테두리 색상 변경 */
	}

	.mainbutton .btn {
		border: none;
		/* 버튼 테두리를 없앱니다 */
	}


	/*헤더 부분 css 끝*/

	/*main시작 css*/

	/*main css 끝*/
	/*푸터 css 시작 */
	.min {
		/*밑에 저작권문구 위치조정*/
		position: absolute;
		bottom: 0;
		right: -70%;
	}

	#footer .footer-contact {
		position: relative;
		margin-left: 100px;
		/* 적당한 여백 값을 지정하세요. */
	}

	#logoImg2 {
		/*푸터부분 이미지위치*/
		position: absolute;
		top: -55px;
		/* 이미지를 위로 이동시킬 픽셀 수 */
		right: 20%;
	}

	#footer {
		/*푸터 위쪽 밑줄*/
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		/* 투명도가 있는 연한 회색으로 변경 */
		padding-top: 30px;
		/* 원하는 간격 설정 */
		margin-top: 50px;
	}



	#fixedNav .nav-link {
		font-weight: bold;
		/* 글자를 굵게 설정합니다. */
		color: black;
		/* 글자 색상을 검은색으로 설정합니다. */
		font-size: 25px;
		/* 원하는 크기로 설정하세요 */
		margin-bottom: 90px;
		/* 아래쪽으로 20px의 공간을 띄웁니다. */
	}

	.text-center {
		margin-top: 50px;
		/* 푸터 요소의 위쪽에 20px의 마진 추가 */
	}

	/*푸터 css 끝*/
</style>

</html>