<!--
=========================================================
* Soft UI Design System PRO - v1.1.0
=========================================================

* Product Page:  https://themes.getbootstrap.com/product/soft-ui-design-system-pro/ 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../../assets/img/favicon.png">
	<title>
		Soft UI Design System PRO by Creative Tim
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="../../assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link id="pagestyle" href="../../assets/css/soft-design-system-pro.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="blog-posts">
	<!-- Navbar Light -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
      <div class="container">
         <a class="navbar-brand font-weight-bold" href="/">
            <img src="/images/logo.jpg" alt="Soft UI PRO" style="max-width: 300px; height: 45PX;">
         </a>

         <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard"
            class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>
         <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
               <span class="navbar-toggler-bar bar1"></span>
               <span class="navbar-toggler-bar bar2"></span>
               <span class="navbar-toggler-bar bar3"></span>
            </span>
         </button>
         <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">
               <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
                     COMPANY
                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                  </a>

                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
                     aria-labelledby="dropdownMenuDocs">
                     <div class="d-none d-lg-block">
                        <ul class="list-group">
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          인사말
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          회사연혁
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          기술인증
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>

                  </div>
               </li>

               <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
                     BUSINESS
                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                  </a>

                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
                     aria-labelledby="dropdownMenuDocs">
                     <div class="d-none d-lg-block">
                        <ul class="list-group">
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          사업내용
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          아웃소싱
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          SI / SM
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          컨설팅
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          솔루션
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>

                  </div>
               </li>
               <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="/welfare"
                  	class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                     id="dropdownMenuDocs"  role="button"
                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
                     RECRUIT
                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                  </a>

                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
                     aria-labelledby="dropdownMenuDocs">
                     <div class="d-none d-lg-block">
                        <ul class="list-group">
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" /welfare ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          복지제도
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          채용안내
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>

                  </div>
               </li>
               <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="/contact"
                  	class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                     id="dropdownMenuDocs"  role="button"
                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
                     CONTACT US
                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                  </a>

                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
                     aria-labelledby="dropdownMenuDocs">
                     <div class="d-none d-lg-block">
                        <ul class="list-group">
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href="/contact">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          찾아오는 길
                                       </h6>

                                    </div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>

                  </div>
               </li>
               <li class="nav-item dropdown dropdown-hover mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
                     ABOUT US
                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
                  </a>

                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
                     aria-labelledby="dropdownMenuDocs">
                     <div class="d-none d-lg-block">
                        <ul class="list-group">
                           <li class="nav-item list-group-item border-0 p-0">
                              <a class="dropdown-item py-2 ps-3 border-radius-md"
                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
                                 <div class="d-flex">

                                    <div>
                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
                                          공지사항
                                       </h6>
                                    </div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </div>

                  </div>
               </li>
            </ul>

         </div>
      </div>
   </nav>

	<!-- End Navbar -->
	<!-- -------- START HEADER 11 w/ carousel ------- -->
	<header>
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="page-header min-vh-45 m-0 border-xl"
						style="background-image: url('/images/contact/41990.jpg'); ">
						<span class="mask bg-gradient-dark" style="opacity: 0.5;"></span>
						<div class="container">
							<div class="row">
								<div class="col-lg-12 my-auto">

									<h1 class="text-white fadeIn2 fadeInBottom">오시는길</h1>

								</div>
							</div>
						</div>
					</div>

				</div>
				<!--		<div class="carousel-item">
					<div class="page-header min-vh-75 m-3 border-radius-xl"
						style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/meeting.jpg');">
						<span class="mask bg-gradient-dark"></span>
						<div class="container">
							<div class="row">
								<div class="col-lg-6 my-auto">
									<h4 class="text-white mb-0 fadeIn1 fadeInBottom">MinSoft</h4>
									<h1 class="text-white fadeIn2 fadeInBottom">혁신적인 도전 정신</h1>
									<p class="lead text-white opacity-8 fadeIn3 fadeInBottom">우리나라 산업을 대표하는 정보 통신의 발전과
										함께 어려운 환경을
										극복하고 성장해 왔습니다. 이는 모두 회사의 발전을 위해 노력한 임직원들의 수고와 민소프트를 아껴주시는
										고객 여러분의 애정이 밑거름이 된 값진 결실입니다.</p>
								</div>
							</div>
						</div>
					</div>
			</div> -->
				<!--	<div class="carousel-item">
					<div class="page-header min-vh-75 m-3 border-radius-xl"
						style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/meeting.jpg');">
						<span class="mask bg-gradient-dark"></span>
						<div class="container">
							<div class="row">
								<div class="col-lg-6 my-auto">
									<h4 class="text-white mb-0 fadeIn1 fadeInBottom">Our Team</h4>
									<h1 class="text-white fadeIn2 fadeInBottom">Work with the best</h1>
									<p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Free people make free
										choices. Free choices mean you get unequal outcomes. You can have freedom, or
										you can have equal outcomes. You can’t have both.</p>
								</div>
							</div>
						</div>
					</div> 
			</div> -->
				<!--메인 이미지 옆에 화살표 코드-->
				<!--<div class="min-vh-75 position-absolute w-100 top-0">
					<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
						<span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
						<span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</a>
				</div>-->

			</div>
		</div>
	</header>
	<!-- -------- END HEADER 11 w/ carousel ------- -->
	<main>
		<!--<div class="mainbutton">
			<a href="/consulting" class="btn btn-light">사업내용</a>
			<a href="/consulting" class="btn btn-light">IT 아웃소싱</a>
			<a href="/business" class="btn btn-light">SI / SM</a>
			<a href="/consulting" class="btn btn-light">컨설팅</a>
			<a href="/consulting" class="btn btn-light">솔루션</a>
		</div>-->
		
		
		
		<!--오시는길 시작-->
		<div id="container" style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh; position: relative;">
    <div id="text-contact" class="find-text" style="position: absolute; top: 80px; left: 20%; transform: translateX(-50%); z-index: 10; font-weight: bold;  font-size: 50px;">
        <p class="contact1">오시는 길</p>
    </div>
		<!--지도요소-->
		<div id="map" style="margin-top: 40px; width:70%; height:500px;">
				
			</div>
		
		</div>
		<!--지하철-->
		
		<!--<div class="p-5 mb-4 bg-body-tertiary rounded-3" style="margin-top: 40px; width:75%; height:400px; text-align: center; margin: auto;" >
    <div class="container-fluid py-5"  > 
        <div class="row justify-content-center" >
             아이콘과 배경색을 담당하는 div 
            <div class="col-md-4" style="text-align: center;" >
                <div>
                     배경색을 위한 svg와 circle 요소 
                    <svg xmlns="http://www.w3.org/2000/svg" width="60%" height="60%"  viewBox="0 0 16 20">
                         원 유지 
                        <circle cx="3" cy="3" r="3" fill="var(--bs-primary-bg-subtle)"></circle>
				


                         이미지 삽입 
                       <image href="assets/img/icon/train-front.svg" x="1.8" y="0.5" width="2.5" height="5" />
                       
                    </svg>
                     SVG 이미지 끝 
                </div>
            </div>
             텍스트를 담당하는 div 
            <div class="col-md-8">
                 아이콘과 텍스트를 가로로 정렬하는 div 
                <div class="d-flex align-items-center">
                     아이콘 
                   
                     텍스트  
                    <div >
                         h5와 p 태그 
                        <h5 class="display-5 fw-bold">지하철</h5><br>
                        <p class="fs-4">마곡나루역 공항철도,9호선<br>1번출구 하차후 도보로 3분, 250m </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
		버스
	<div class="p-5 mb-4 bg-body-tertiary rounded-3" style="margin-top: 40px; width:75%; height:400px; text-align: center; margin: auto;" >
    <div class="container-fluid py-5"  > 
        <div class="row justify-content-center" >
             아이콘과 배경색을 담당하는 div 
            <div class="col-md-4" style="text-align: center;" >
                <div>
                     배경색을 위한 svg와 circle 요소 
                    <svg xmlns="http://www.w3.org/2000/svg" width="60%" height="60%"  viewBox="0 0 16 20">
                         원 유지 
                        <circle cx="3" cy="3" r="3" fill="var(--bs-primary-bg-subtle)"></circle>
				


                         이미지 삽입 
                       <image href="assets/img/icon/bus-front.svg" x="1.8" y="0.5" width="2.5" height="5" />
                       
                    </svg>
                     SVG 이미지 끝 
                </div>
            </div>
             텍스트를 담당하는 div 
            <div class="col-md-8">
                 아이콘과 텍스트를 가로로 정렬하는 div 
                <div class="d-flex align-items-center">
                     아이콘 
                   
                     텍스트 
                    <div>
                         h5와 p 태그 
                        <h5 class="display-5 fw-bold">버스</h5><br>
                        <p class="fs-4">마곡나루역 1번출구<br>웰튼병원역에서 하차 후 도보로 3분 , 250m </p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->




	<!--회사주소,번호,Fax번호-->
	<section class="py-7 bg-white position-relative">  
  <div class="container">
    <div class="row mt-n7 blur border-radius-lg shadow-blur">
      <div class="col-lg-3 col-md-6 col-6 position-relative my-auto">
        <div class="p-3 text-center" >
         <img class="width-48-px mb-3" src="/icon/gps_1721823.svg" >
          <h5 class="mt-3 mb-1">Address</h5>
          <p class="mb-0">서울시 강서구 마곡서로 158, 1306호 ( 마곡센트럴타워Ⅱ )</p>
          <hr class="vertical dark">
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 position-relative my-auto">
        <div class="p-3 text-center">
         <img class="width-48-px mb-3" src="/icon/sign_4138610.svg" >
          <h5 class="mt-3 mb-1">Email</h5>
          <p class="mb-0">youn628@naver.com</p>
        </div>
        <hr class="vertical dark">
      </div>
      <div class="col-lg-3 col-md-6 col-6 position-relative my-auto">
        <div class="p-3 text-center">
			<img class="width-48-px mb-3" src="/icon/phone-call_7403580.svg">
        
          <h5 class="mt-3 mb-1">Phone</h5>
          <p class="mb-0">Tel) 02-6482-0051<br>Fax) 02-6483-0051 </p>
        </div>
        <hr class="vertical dark">
      </div>
      <div class="col-lg-3 col-md-6 col-6 position-relative my-auto image-container" >
		  
		  <img src="/images/contact/685.jpg" alt="" class="img-fluid ">
		    </div>
    </div>
  </div>
</section>
       <!-- <div class="p-3 text-center">
          <div class="icon icon-shape bg-gradient-primary shadow text-center rounded-circle">
            <svg class="mt-3" width="15px" height="15px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>ungroup</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-2170.000000, -442.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <g transform="translate(1716.000000, 291.000000)">
                            <g id="ungroup" transform="translate(454.000000, 151.000000)">
                                <path d="M38.1818182,10.9090909 L32.7272727,10.9090909 L32.7272727,30.9090909 C32.7272727,31.9127273 31.9127273,32.7272727 30.9090909,32.7272727 L10.9090909,32.7272727 L10.9090909,38.1818182 C10.9090909,39.1854545 11.7236364,40 12.7272727,40 L38.1818182,40 C39.1854545,40 40,39.1854545 40,38.1818182 L40,12.7272727 C40,11.7236364 39.1854545,10.9090909 38.1818182,10.9090909 Z" opacity="0.6"></path>
                                <path d="M27.2727273,29.0909091 L1.81818182,29.0909091 C0.812727273,29.0909091 0,28.2781818 0,27.2727273 L0,1.81818182 C0,0.814545455 0.812727273,0 1.81818182,0 L27.2727273,0 C28.2781818,0 29.0909091,0.814545455 29.0909091,1.81818182 L29.0909091,27.2727273 C29.0909091,28.2781818 28.2781818,29.0909091 27.2727273,29.0909091 Z"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </div>
          <h5 class="mt-3 mb-1">Contact</h5>
          <p class="mb-0">Andrew Samian</p>
        </div>-->
    
     <!-- <div class="icon icon-shape bg-gradient-primary shadow text-center rounded-circle">
            <svg class="mt-3" width="15px" height="15px" viewBox="0 0 44 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>megaphone</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-2168.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
                        <g transform="translate(1716.000000, 291.000000)">
                            <g id="megaphone" transform="translate(452.000000, 300.000000)">
                              <path d="M35.7958333,0.273166667 C35.2558424,-0.0603712374 34.5817509,-0.0908856664 34.0138333,0.1925 L19.734,7.33333333 L9.16666667,7.33333333 C4.10405646,7.33333333 0,11.4373898 0,16.5 C0,21.5626102 4.10405646,25.6666667 9.16666667,25.6666667 L19.734,25.6666667 L34.0138333,32.8166667 C34.5837412,33.1014624 35.2606401,33.0699651 35.8016385,32.7334768 C36.3426368,32.3969885 36.6701539,31.8037627 36.6666942,31.1666667 L36.6666942,1.83333333 C36.6666942,1.19744715 36.3370375,0.607006911 35.7958333,0.273166667 Z"></path>
                              <path d="M38.5,11 L38.5,22 C41.5375661,22 44,19.5375661 44,16.5 C44,13.4624339 41.5375661,11 38.5,11 Z" opacity="0.601050967"></path>
                              <path d="M18.5936667,29.3333333 L10.6571667,29.3333333 L14.9361667,39.864 C15.7423448,41.6604248 17.8234451,42.4993948 19.6501416,41.764381 C21.4768381,41.0293672 22.3968823,38.982817 21.7341667,37.1286667 L18.5936667,29.3333333 Z" opacity="0.601050967"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </div>-->
<!--회사주소 새로운 템플릿-->

<section class="py-7 bg-white position-relative">
  <div class="container" style="margin-left: 20%;">
    <div class="row">
      <div class="col-lg-6 col-md-5 mb-5">
		  
        <div class="icon  text-center mb-4 mb-5">
         <img class="width-48-px mb-3" src="/icon/gps_1721823.svg" >
        </div>
        <h2>ADDERESS</h2>
        <p class="pe-5"></p>
        <div class="d-flex p-2">
          <div>
            <i class="fas fa-map text-sm"></i>
          </div>
          <div class="ps-3">
            <span>서울시 강서구 마곡서로 158, 1306호 ( 마곡센트럴타워Ⅱ ) <br></span>
          </div>
        </div>
        <div class="d-flex p-2">
          <div>
            <i class="fas fa-envelope text-sm"></i>
          </div>
          <div class="ps-3">
            <span>youn628@naver.com</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-5">
        <div class="icon  text-center mb-4 mb-5">
          <img class="width-48-px mb-3" src="/icon/phone-call_7403580.svg">
        </div>
        <h2>PHONE</h2>
        <p class="pe-5"></p>
        <div class="d-flex p-2">
          <div>
            <i class="fas fa-phone text-sm"></i>
          </div>
          <div class="ps-3">
            <span>Tel) 02-6482-0051  <br> Fax) 02-6483-0051</span>
          </div>
        </div>
        <div class="d-flex p-2">
          <div>
           
          </div>
          <div class="ps-3">
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--지하철 버스 새로운 템플릿-->
<!-- -------- START PRE-FOOTER 7 w/ TEXT AND 2 BUTTONS ------- -->
<section class="my-10 py-5 bg-gradient-secondary position-relative overflow-hidden section-spacing" >
        <img src="../../assets/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-0 w-100 opacity-6" >
        <div class="container position-relative z-index-2">
            <div class="row">
                <div class="col-lg-5 col-md-8 m-auto text-start">
                    <h5 id="info-text" class="text-white mb-lg-0 mb-5">
                        마곡나루역 공항철도, 9호선<br>1번출구 하차후 도보로 3분, 250m
                    </h5>
                </div>
                <div class="col-lg-6 m-auto">
                    <div class="row">
                        <div class="col-sm-4 col-6 ps-sm-0 ms-auto">
                            <button type="button" class="btn bg-gradient-white mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block"  onclick="changeText('지하철')">지하철</button>
                        </div>
                        <div class="col-sm-4 col-6 ps-sm-0 me-lg-0 me-auto">
                            <button type="button" class="btn btn-white mb-0 ms-lg-3 ms-sm-2 mb-sm-0 mb-2 me-auto w-100 d-block" onclick="changeText('버스')">버스</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- -------- END PRE-FOOTER 7 w/ TEXT AND 2 BUTTONS ------- -->
				<!--복지제도 새로운 템플릿 끝-->
		

	</main>
	<footer id="footer">
		<div class="row text">
			<div class="col-lg-6 footer-contact">
				<p><strong></strong>주식회사 민소프트</p>
				<!--<p><strong>대표이사:</strong> 김민구</p>-->
				<p><strong></strong>Tel) 02-6482-0051 | Fax) 02-6483-0051</p>
				<p><strong></strong>E-mail: youn628@naver.com</p>
				<p><strong></strong>07788) 서울시 강서구 마곡서로 158, 1306호 ( 마곡센트럴타워Ⅱ )</p>
				<p class="min">
					<img id="logoImg2" src="/images/logo.jpg" alt="로고 이미지">
					&copy; Copyright <strong><span>주식회사 민소프트</span></strong>. All Rights Reserved
				</p>
			</div>

		</div>
	</footer>
	<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
	<script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../assets/js/plugins/perfect-scrollbar.min.js"></script>
	<!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
	<script src="../../assets/js/plugins/typedjs.js"></script>
	<script src="../../assets/js/plugins/choices.min.js"></script>
	<script src="../../assets/js/plugins/flatpickr.min.js"></script>
	<!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
	<script src="../../assets/js/plugins/parallax.min.js"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
	<!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
	<script src="../../assets/js/plugins/glidejs.min.js" type="text/javascript"></script>
	<!--  Plugin for the blob animation -->
	<script src="../../assets/js/plugins/anime.min.js" type="text/javascript"></script>
	<!-- Chart JS -->
	<script src="../../assets/js/plugins/chartjs.min.js"></script>
	<!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
	<script src="../../assets/js/soft-design-system-pro.min.js?v=1.1.0" type="text/javascript"></script>
	<!--카카오맵api-->
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e9fb342f05f318865b155c2edf278cf6"></script>
	<script>
		if (document.getElementById('language-select')) {
			var element = document.getElementById('language-select');
			const example = new Choices(element, {
				searchEnabled: false
			});

		}
		if (document.getElementById('currency-select')) {
			var element = document.getElementById('currency-select');
			const example = new Choices(element, {
				searchEnabled: false
			});
		}

		/*헤더 네비바 따라 내려오게하는 스크립트*/
		window.addEventListener('scroll', function () {
			var navbar = document.querySelector('.navbar');
			if (window.scrollY > 50) { // 스크롤 위치가 50px 이상인 경우
				navbar.classList.add('fixed-top'); // 고정된 위치로 설정
			} else {
				navbar.classList.remove('fixed-top'); // 일반 위치로 설정
			}
		});
	/*카카오 맵 api 지도생성*/
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new kakao.maps.LatLng(37.56811616282523, 126.82544870861699), // 지도의 중심좌표
				level: 3 // 지도의 확대 레벨
			};

		var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

		// 마커가 표시될 위치입니다 
		var markerPosition = new kakao.maps.LatLng(37.56811616282523, 126.82544870861699);

		// 마커를 생성합니다
		var marker = new kakao.maps.Marker({
			position: markerPosition
		});

		// 마커가 지도 위에 표시되도록 설정합니다
		marker.setMap(map);
		
		
		var iwContent = '<div style="padding:5px; text-align: center; color: blue; ">민소프트 <br><a href="https://map.kakao.com/link/map/서울 강서구 마곡서로 158,37.56811616282523, 126.82544870861699" style="color:black" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/서울 강서구 마곡서로 158,37.56811616282523, 126.82544870861699" style="color:black" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
    iwPosition = new kakao.maps.LatLng(37.56811616282523, 126.82544870861699); //인포윈도우 표시 위치입니다

// 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({
    position : iwPosition, 
    content : iwContent 
});
  
// 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
infowindow.open(map, marker); 



/*지하철 버스*/
function changeText(type) {
            const infoText = document.getElementById('info-text');
            if (type === '지하철') {
                infoText.innerHTML = '마곡나루역 공항철도, 9호선<br>1번출구 하차후 도보로 3분, 250m';
            } else if (type === '버스') {
                infoText.innerHTML = '마곡나루역 1번출구<br>웰튼병원역에서 하차 후 도보로 3분 , 250m';
            }
        }

	</script>
</body>
<style>
	/*헤더 부분 css 시작*/
	.text-white {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		/* Adjust as needed */
		margin: 0;
		/* Remove any default margin */

	}

	.btn {
		/*배너 사진밑에 버튼 CSS*/

		padding: 10px 50px;
		/* 버튼의 내부 여백을 조정합니다. */
		margin: 50px;
		/* 버튼 사이의 간격을 설정합니다. */
		color: black;
		background-color: white;
		font-size: 30px;
		font-weight: 500;
		/* 글자를 굵게 설정합니다. */
	}

	.mainbutton {
		/*배너 아래 버튼 마진 css*/
		text-align: center;
		margin-bottom: 70px;

	}

	.btn-light:hover {
		/*버튼 호버 색상 변경*/
		color: white;
		/* 호버시 텍스트 색상 변경 */
		background-color: lightgrey;
		/* 호버시 배경색 변경 */
		border-color: blue;
		/* 호버시 테두리 색상 변경 */
	}

	.mainbutton .btn {
		border: none;
		/* 버튼 테두리를 없앱니다 */
	}


	/*헤더 부분 css 끝*/

	/*main시작 css*/

	/*main css 끝*/
	/*푸터 css 시작 */
	.min {
		/*밑에 저작권문구 위치조정*/
		position: absolute;
		bottom: 0;
		right: -70%;
	}

	#footer .footer-contact {
		position: relative;
		margin-left: 100px;
		/* 적당한 여백 값을 지정하세요. */
	}

	#logoImg2 {
		/*푸터부분 이미지위치*/
		position: absolute;
		top: -55px;
		/* 이미지를 위로 이동시킬 픽셀 수 */
		right: 20%;
	}

	#footer {
		/*푸터 위쪽 밑줄*/
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		/* 투명도가 있는 연한 회색으로 변경 */
		padding-top: 30px;
		/* 원하는 간격 설정 */
		margin-top: 50px;
	}



	#fixedNav .nav-link {
		font-weight: bold;
		/* 글자를 굵게 설정합니다. */
		color: black;
		/* 글자 색상을 검은색으로 설정합니다. */
		font-size: 25px;
		/* 원하는 크기로 설정하세요 */
		margin-bottom: 90px;
		/* 아래쪽으로 20px의 공간을 띄웁니다. */
	}

	.text-center {
		margin-top: 50px;
		/* 푸터 요소의 위쪽에 20px의 마진 추가 */
	}

	/*푸터 css 끝*/
	
	
	
	/*오시는길 css*/
	/*폰트*/

			/*찾아오시는길 텍스트폰트*/
			
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
	
		/*지하철 폰트*/
		@font-face {
    font-family: 'TheJamsil5Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 0;
    font-style: normal;
}


		
	.display-5{
	font-family: 'TheJamsil5Bold'; 
	
}


	/*박스색상변경*/
.bg-body-tertiary {
    background-color:white/* 원하는 색상으로 변경 */
    !important
}

@media screen and (max-width: 768px) { 
    .find-text::after {
	width: 50%;
    }
}


/*오시는길 밑줄*/
.find-text::after {
    content: '';
    display: block;
    width: 100%; /*길이/굵기*/
    height: 5px;
    background-color:cornflowerblue;
    margin-top: 10px;
}
.contact1{
	font-size: 25px;
	margin-right: 60px;
}

  
/*오시는길 끝*/
	
	
	/*회사주소 css시작*/
/*	.fit-image{
	width: 100%;
    height: 100%;
    object-fit: cover;
	}*/
	
	   .image-container {
    position: relative;
    width: 320px;
    height: 320px; /* 원하는 높이로 설정 */
    overflow: hidden;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
	
	
</style>

</html>