<!--
=========================================================
* Soft UI Design System PRO - v1.1.0
=========================================================

* Product Page:  https://themes.getbootstrap.com/product/soft-ui-design-system-pro/ 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../../assets/img/favicon.png">
	<title>
		Soft UI Design System PRO by Creative Tim
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="../../assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link id="pagestyle" href="../../assets/css/soft-design-system-pro.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="blog-posts">
	<!-- Navbar Light -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
	      <div class="container">
	         <a class="navbar-brand font-weight-bold" href="/">
	            <img src="/images/logo.jpg" alt="Soft UI PRO" style="max-width: 300px; height: 45PX;">
	         </a>

	         <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard"
	            class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>
	         <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
	            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
	            aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon mt-2">
	               <span class="navbar-toggler-bar bar1"></span>
	               <span class="navbar-toggler-bar bar2"></span>
	               <span class="navbar-toggler-bar bar3"></span>
	            </span>
	         </button>
	         <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
	            <ul class="navbar-nav navbar-nav-hover mx-auto">
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     COMPANY
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>

	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/greetingpage">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          인사말
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          회사연혁
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/certification">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          기술인증
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>

	                  </div>
	               </li>

	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     BUSINESS
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>

	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/businessdetatils">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          사업내용
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/itoutsourcingpage">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          아웃소싱
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/consulting">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          SI / SM
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          컨설팅
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/solution">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          솔루션
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>

	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     RECRUIT
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>

	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/welfare">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          복지제도
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          채용안내
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>

	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     CONTACT US
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>

	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          찾아오는 길
	                                       </h6>

	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>

	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     ABOUT US
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>

	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">

	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          공지사항
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>

	                  </div>
	               </li>
	            </ul>

	         </div>
	      </div>
	   </nav>
	<!-- End Navbar -->
	<!-- -------- START HEADER 11 w/ carousel ------- -->
	<header>
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="page-header min-vh-45 m-0 border-xl"
						style="background-image: url('../images/Outsourcing/itoutsourcing_banner_3.png');">
						<span class="mask"></span>
						<div class="container">
							<div class="row">
								<div class="col-lg-12 my-auto">

									<h1 class="text-white fadeIn2">IT 아웃소싱</h1>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> <!-- #carouselExampleControls 끝-->
	</header>
	<!-- -------- END HEADER 11 w/ carousel ------- -->
	

		<div class="mainbutton">
			<a href="/businessdetails" class="btn btn-light">사업내용</a>
			<a href="/itoutsourcingpage" class="btn btn-light">IT 아웃소싱</a>
			<a href="/sism" class="btn btn-light">SI / SM</a>
			<a href="/consulting" class="btn btn-light">컨설팅</a>
			<a href="/solution" class="btn btn-light">솔루션</a>
		</div>

		
		
		
		
		
<!-- ========================================= IT 아웃소싱 Section ======================================================-->
<!-- 사진을 프리픽에서 이미지 주소복사 삽입, max-height-600을 height-500으로 수정 필요 및 style에 .height-580: { height: 580px;} 추가 -->
  <section class="py-7 position-relative">
	<div class="container">
      <div id="carousel-testimonials" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-5 me-lg-auto position-relative">
                  <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm fadeIn4 fadeInBottom">
					First Step</h6>
                  <h1 class="text-dark display-3 font-weight-bolder fadeIn2 fadeInBottom">
					IT 아웃소싱<br>컨설팅 서비스</h1>
                  <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
					고객의 IT아웃소싱 추진에 대한 의사 결정 및 전략 수립, 추진 성과에 대한 분석,
					효과적인 IT아웃소싱 관리 체계 수립 등을 지원합니다.
                  </p>
                </div>
                <div class="col-md-5 ms-lg-auto">
                  <div class="p-3">
                    <img class="w-100 border-radius-md height-700 fadeIn2 fadeInBottom" 
					src="https://img.freepik.com/premium-photo/businesswoman-explaining-business-strategy-colleagues-laptop-meeting-office_662214-383321.jpg" alt="First slide">
					<!-- "https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-woman.jpg" -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-5 me-lg-auto position-relative">
                  <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm fadeIn4 fadeInBottom">Second Step</h6>
                  <h1 class="text-dark display-3 font-weight-bolder fadeIn2 fadeInBottom">
					네트워크 서비스
				  </h1>
                  <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
					고객의 다양한 요구를 충족시키기 위한<br>
					네트워크 솔루션 및 네트워크 인프라를 제공하고<br>
					관리/운영해 드립니다.
                  </p>
                </div>
                <div class="col-md-5 ms-lg-auto">
                  <div class="p-3">
                    <img class="w-100 border-radius-md height-700 fadeIn2 fadeInBottom" 
					src="https://img.freepik.com/free-photo/focused-asian-marketing-agency-office-worker-using-work-computer-analyze-financial-market-data-company-employee-reviewing-organization-market-value-analyzing-finances_482257-40190.jpg"
					alt="Second slide">
					<!-- src="https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150061993.jpg" -->
					<!--src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-light.jpg"-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-5 me-lg-auto position-relative">
                  <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm fadeIn4 fadeInBottom">Third Step</h6>
                  <h1 class="text-dark display-3 font-weight-bolder fadeIn2 fadeInBottom">
					애플리케이션<br>서비스
				  </h1>
                  <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
					고객의 필요에 따른 신규 IT시스템개발과 운영을<br>
					지원해 드립니다.
                  </p>
                </div>
                <div class="col-md-5 ms-lg-auto">
                  <div class="p-3">
                    <img class="w-100 border-radius-md height-700 fadeIn2 fadeInBottom" 
					src="https://img.freepik.com/premium-photo/businessman-using-smartphone-against-fitness-apps_1134-67667.jpg"
					
					 alt="Second slide">
					 <!--  src="https://img.freepik.com/premium-photo/computer-programmer-looking-code-desktop-pc_1048944-7820513.jpg" -->
					 <!-- src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/circle-guy.jpg" -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-5 me-lg-auto position-relative">
                  <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm fadeIn4 fadeInBottom">Fourth Step</h6>
                  <h1 class="text-dark display-3 font-weight-bolder fadeIn2 fadeInBottom">
					보안 서비스
				  </h1>
                  <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
					고객의 환경에 최적화한 보안 계획을 수립하여<br>
					개선된 보안관리체계에 따라<br>
					안정적으로 고객의 정보자산을 운영/관리해 드립니다.
                  </p>
                </div>
                <div class="col-md-5 ms-lg-auto">
                  <div class="p-3">
                    <img class="w-100 border-radius-md height-700 fadeIn2 fadeInBottom" 
					src="https://img.freepik.com/free-photo/password-lock-phone-screen_1387-188.jpg"
					
					 alt="Second slide">
					<!-- src="https://img.freepik.com/premium-photo/business-team-applauds-speaker-briefing-new-office-concept-good-work_160672-13182.jpg?w=1380" -->
					  <!-- src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-icecream.jpg" -->
                  </div>
                </div>
              </div>
            </div>
          </div>
		  <div class="carousel-item">
		    <div class="container">
		      <div class="row align-items-center">
		        <div class="col-md-5 me-lg-auto position-relative">
		          <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm fadeIn4 fadeInBottom">Fifth Step</h6>
		          <h1 class="text-dark display-3 font-weight-bolder fadeIn2 fadeInBottom">
					SPoC 서비스
				  </h1>
		          <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
					선진사례를 기반으로 고객 비즈니스 환경에<br>
					특화시킨 서비스 데스크 중심의<br>
					서비스 관리체제를 제공해 드립니다.
		          </p>
		        </div>
		        <div class="col-md-5 ms-lg-auto">
		          <div class="p-3">
		            <img class="w-100 border-radius-md height-700 fadeIn2 fadeInBottom" 
		  		src="https://img.freepik.com/free-photo/office-workers-using-finance-graphs_23-2150408664.jpg"
		  		
		  		 alt="Second slide">
		  		<!-- src="https://img.freepik.com/premium-photo/business-team-applauds-speaker-briefing-new-office-concept-good-work_160672-13182.jpg?w=1380" -->
		  		  <!-- src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-icecream.jpg" -->
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>		  
        </div>
<!-- 앞 뒤 버튼 시작 -->
        <div class="position-relative mt-n6">
          <a class="carousel-control-prev text-dark position-absolute bottom-0 start-0" href="#carousel-testimonials" role="button" data-bs-slide="prev">
            <i class="fas fa-2x fa-chevron-left position-absolute start-0 ms-3" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next text-dark position-absolute bottom-0 start-0 ms-4" href="#carousel-testimonials" role="button" data-bs-slide="next">
            <i class="fas fa-2x fa-chevron-right"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
<!-- 앞 뒤 버튼 끝 -->		
      </div> <!--  #carousel-testimonials 끝 -->
	  
<!-- 숫자 메뉴 시작 -->	  
      <div class="row mt-7">
        <div class="col-lg-23_5 col-6 mb-lg-0 mb-4">
          <a href="javascript:;" class="text-lg text-gradient text-selfmade1 h3 ps-3 active" data-bs-target="#carousel-testimonials" data-bs-slide-to="0">
            <span class="span01">01</span>
            <span class="ms-2 text-md-start">IT 아웃소싱컨설팅 서비스</span>
          </a>
        </div>
        <div class="col-lg-18 col-6 mb-lg-0 mb-4">
          <a href="javascript:;" class="text-lg text-gradient text-selfmade1 h3" data-bs-target="#carousel-testimonials" data-bs-slide-to="1">
            <span>02</span>
            <span class="ms-2">네트워크 서비스</span>
          </a>
        </div>
        <div class="col-lg-2_7 col-6 mb-lg-0 mb-4">
          <a href="javascript:;" class="text-lg text-gradient text-selfmade1 h3" data-bs-target="#carousel-testimonials" data-bs-slide-to="2">
            <span>03</span>
            <span class="ms-2">애플리케이션 서비스</span>
          </a>
        </div>
        <div class="col-lg-15_5 col-6 mb-lg-0 mb-4">
          <a href="javascript:;" class="text-lg text-gradient text-selfmade1 h3" data-bs-target="#carousel-testimonials" data-bs-slide-to="3">
            <span>04</span>
            <span class="ms-2">보안 서비스</span>
          </a>
        </div>
		<div class="col-lg-2 col-6 mb-lg-0 mb-4">
		  <a href="javascript:;" class="text-lg text-gradient text-selfmade1 h3" data-bs-target="#carousel-testimonials" data-bs-slide-to="4">
		    <span>05</span>
		    <span class="ms-2">SPoC 서비스</span>
		  </a>
		</div>		
      </di> <!-- .row mt-10 끝 (숫자 메뉴)-->
	  
	  
	  </div> <!-- .py-7 position-relative .container 끝 -->
    </section> <!-- .py-7 position-relative 끝 -->

<!--  사진 웨이브 시작 -->	
  <div class="page-header min-vh-45" 
  style="background-image: url('../images/Outsourcing/wave.png');
   background-size: cover;">
  <!--  https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/glass-wall.jpg  -->
    <span class="mask bg-gradient-dark opacity-6">
	</span>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1"></use>
        </g>
      </svg>
    </div>
  </div> <!-- .page-header min-vh-45 끝 (사진 웨이브) -->
  
  
<!-- 두번째 container 시작 (웨이브 하단 영어글)-->  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ms-auto me-auto mt-7">
        <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">Our effort</h6>
        <h3 class="mb-4">The powerfull IT outsourcing system</h3>
        <p class="text-dark">
			We will be a company that works hard for innovation.<br>
			We will go all the way with an tireless driving force.
        </p>
      </div>
    </div>
	</div> <!-- 두번째 container (웨이브 하단 영어글) 끝 -->


  

	
</main>


<style>
	/*
	.fa-chevron-left::before {
	    content: "\f053";
		box-sizing: border-box;
	}
	*/
	.height-580 {
		height: 580px;
	}
	.col-lg-15_5 {
		flex: 0 0 auto;
		width: 15.5%;
	}
	.col-lg-16 {
		flex: 0 0 auto;
		width: 16%;
	}
	.col-lg-18 {
		flex: 0 0 auto;
		width: 18%;
	}
	.col-lg-20 {
		flex: 0 0 auto;
		width: 20%;
	}
	.col-lg-2_05 {
		flex: 0 0 auto;
		width: 20.05%;
	}
	.col-lg-2_3 {
		flex: 0 0 auto;
		width: 20.3%;
	}
	.col-lg-2_4 {
		flex: 0 0 auto;
		width: 20.4%;
	}
	.col-lg-2_5 {
		flex: 0 0 auto;
		width: 20.5%;
	}
	.col-lg-2_6 {
		flex: 0 0 auto;
		width: 20.6%;
	}
	.col-lg-2_7 {
		flex: 0 0 auto;
		width: 20.7%;
	}
	.col-lg-2_8 {
		flex: 0 0 auto;
		width: 20.8%;
	}
	.col-lg-21 {
		flex: 0 0 auto;
		width: 21%;
	}
	.col-lg-23_5 {
		flex: 0 0 auto;
		width: 23.5%;
	}
	.col-lg-24 {
		flex: 0 0 auto;
		width: 24%;
	}
	.span01.ms-2.text-md-start {
		display: inline-block;
	}
	.text-gradient.text-selfmade1 {
		background-image: linear-gradient(310deg, #37578c, #fa913c);
		/*background-image: linear-gradient(310deg, #37578c, #FBCF33);*/
	}
	.text-gradient.text-selfmade2 {
		background-image: linear-gradient(310deg, #37578c, #2bed38);
	}



	
</style>
<!-- ========================================= IT 아웃소싱 Section End ======================================================-->

	<footer id="footer">
		<div class="row text">
			<div class="col-lg-6 footer-contact">
				<p><strong></strong>주식회사 민소프트</p>
				<!--<p><strong>대표이사:</strong> 김민구</p>-->
				<p><strong></strong>Tel) 02-6482-0051 | Fax) 02-6483-0051</p>
				<p><strong></strong>E-mail: youn628@naver.com</p>
				<p><strong></strong>07788) 서울시 강서구 마곡서로 158, 1306호 ( 마곡센트럴타워Ⅱ )</p>
				<p class="min">
					<img id="logoImg2" src="/images/logo.jpg" alt="로고 이미지">
					&copy; Copyright <strong><span>주식회사 민소프트</span></strong>. All Rights Reserved
				</p>
			</div>

		</div>
	</footer>
	<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
	<script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../assets/js/plugins/perfect-scrollbar.min.js"></script>
	<!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
	<script src="../../assets/js/plugins/typedjs.js"></script>
	<script src="../../assets/js/plugins/choices.min.js"></script>
	<script src="../../assets/js/plugins/flatpickr.min.js"></script>
	<!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
	<script src="../../assets/js/plugins/parallax.min.js"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
	<!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
	<script src="../../assets/js/plugins/glidejs.min.js" type="text/javascript"></script>
	<!--  Plugin for the blob animation -->
	<script src="../../assets/js/plugins/anime.min.js" type="text/javascript"></script>
	<!-- Chart JS -->
	<script src="../../assets/js/plugins/chartjs.min.js"></script>
	<!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
	<script src="../../assets/js/soft-design-system-pro.min.js?v=1.1.0" type="text/javascript"></script>
	<script>
		if (document.getElementById('language-select')) {
			var element = document.getElementById('language-select');
			const example = new Choices(element, {
				searchEnabled: false
			});

		}
		if (document.getElementById('currency-select')) {
			var element = document.getElementById('currency-select');
			const example = new Choices(element, {
				searchEnabled: false
			});
		}

		/*헤더 네비바 따라 내려오게하는 스크립트*/
		window.addEventListener('scroll', function () {
			var navbar = document.querySelector('.navbar');
			if (window.scrollY > 50) { // 스크롤 위치가 50px 이상인 경우
				navbar.classList.add('fixed-top'); // 고정된 위치로 설정
			} else {
				navbar.classList.remove('fixed-top'); // 일반 위치로 설정
			}
		});

	</script>
</body>
<style>
	/*헤더 부분 css 시작*/
	.text-white {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		/* Adjust as needed */
		margin: 0;
		/* Remove any default margin */

	}

	.btn {
		/*배너 사진밑에 버튼 CSS*/

		padding: 10px 50px;
		/* 버튼의 내부 여백을 조정합니다. */
		margin: 50px;
		/* 버튼 사이의 간격을 설정합니다. */
		color: black;
		background-color: white;
		font-size: 30px;
		font-weight: 500;
		/* 글자를 굵게 설정합니다. */
	}

	.mainbutton {
		/*배너 아래 버튼 마진 css*/
		text-align: center;
		margin-bottom: 70px;

	}

	.btn-light:hover {
		/*버튼 호버 색상 변경*/
		color: white;
		/* 호버시 텍스트 색상 변경 */
		background-color: lightgrey;
		/* 호버시 배경색 변경 */
		border-color: blue;
		/* 호버시 테두리 색상 변경 */
	}

	.mainbutton .btn {
		border: none;
		/* 버튼 테두리를 없앱니다 */
	}


	/*헤더 부분 css 끝*/

	/*main시작 css*/

	/*main css 끝*/
	/*푸터 css 시작 */
	.min {
		/*밑에 저작권문구 위치조정*/
		position: absolute;
		bottom: 0;
		right: -70%;
	}

	#footer .footer-contact {
		position: relative;
		margin-left: 100px;
		/* 적당한 여백 값을 지정하세요. */
	}

	#logoImg2 {
		/*푸터부분 이미지위치*/
		position: absolute;
		top: -55px;
		/* 이미지를 위로 이동시킬 픽셀 수 */
		right: 20%;
	}

	#footer {
		/*푸터 위쪽 밑줄*/
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		/* 투명도가 있는 연한 회색으로 변경 */
		padding-top: 30px;
		/* 원하는 간격 설정 */
		margin-top: 50px;
	}



	#fixedNav .nav-link {
		font-weight: bold;
		/* 글자를 굵게 설정합니다. */
		color: black;
		/* 글자 색상을 검은색으로 설정합니다. */
		font-size: 25px;
		/* 원하는 크기로 설정하세요 */
		margin-bottom: 90px;
		/* 아래쪽으로 20px의 공간을 띄웁니다. */
	}

	.text-center {
		margin-top: 50px;
		/* 푸터 요소의 위쪽에 20px의 마진 추가 */
	}

	/*푸터 css 끝*/
</style>

</html>