<!--
=========================================================
* Soft UI Design System PRO - v1.1.0
=========================================================

* Product Page:  https://themes.getbootstrap.com/product/soft-ui-design-system-pro/ 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../../assets/img/favicon.png">
	<title>
		(주)민소프트
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="../../assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link id="pagestyle" href="../../assets/css/soft-design-system-pro.css?v=1.1.0" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>

<body class="blog-posts" style="overflow-x: hidden; overflow-y: auto;">
	<!-- Navbar Light -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">

	      <div class="container">
	         <a class="navbar-brand font-weight-bold" href="/">
	            <img src="/images/logo.jpg" alt="Soft UI PRO" style="max-width: 300px; height: 45PX;">
	         </a>
	
	         <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
	            <ul class="navbar-nav navbar-nav-hover mx-auto">
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a href="/greetingpage"
					  	 class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     COMPANY
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/greetingpage">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          인사말
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/history">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          회사연혁
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/certification">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          기업인증
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a href="/businessdetails"
					  	 class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     BUSINESS
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/businessdetails">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          사업내용
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/itoutsourcingpage">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          IT 아웃소싱
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/sism">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          SI / SM
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/consulting">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          컨설팅
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/solutions">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          솔루션
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a href="/welfare"
					  	 class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     RECRUIT
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/welfare">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          복지제도
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
										<a class="dropdown-item py-2 ps-3 border-radius-md" href="/welfare#welfareinfo2">
											<div class="d-flex">
												<div>
													<h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
														style="font-size: 16px; font-weight: bold;">
														채용안내
													</h6>
												</div>
											</div>
										</a>
									</li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a href="/contact"
					  	 class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     CONTACT US
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="contact">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          찾아오는 길
	                                       </h6>
	
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a href="/board"
					  	 class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     ABOUT US
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href="/board">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          공지사항
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	            </ul>
	
	         </div>
	      </div>
	   </nav>
	<!-- End Navbar -->
	<!-- -------- START HEADER 11 w/ carousel ------- -->
	<header>
	      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	         <div class="carousel-inner">
	            <div class="carousel-item active">
	               <div class="page-header min-vh-45 border-xl"
	                  style="background-image: url('/images/business/solution_banner1.jpg');">
	                  <span class="mask" style="opacity: 0.5;"></span>
	                  <div class="container">
	                     <div class="row">
	                        <div class="col-lg-12 my-auto">
	                           <h1 class="text-white fadeIn2 fadeInBottom">솔루션</h1>
	                        </div>
	                     </div>
	                  </div>
	               </div>
	
	
	            </div>
	
	         </div>
	      </div>
	   </header>

	<!-- -------- END HEADER 11 w/ carousel ------- -->
	<main>
		<div class="mainbutton">
			<a href="/businessdetails" class="btn btn-light" id="btn-solutions5">사업내용</a>
			<a href="/itoutsourcingpage" class="btn btn-light" id="btn-solutions5">IT 아웃소싱</a>
			<a href="/sism" class="btn btn-light" id="btn-solutions5">SI / SM</a>
			<a href="/consulting" class="btn btn-light" id="btn-solutions5">컨설팅</a>
			<a href="/solutions" class="btn btn-light" id="btn-solutions5">솔루션</a>
		</div>

		<!-- START Blogs w/ big image on left -->
		<section class="py-5" style="background-color:#f1f3f5;">
		  <div class="container-fluid">
		    <div class="row">	
				
				<div class="col-lg-2 mb-lg-0 mb-3">
				  <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-15 shadow-lg">
					
				    <li class="nav-item">
				      <a class="nav-link text-dark" data-scroll href="#scroll-position1">
				        <div class="icon me-2">
				          <svg class="text-primary" width="20px" height="20px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				            <title>document</title>
				            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				              <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
				                <g transform="translate(1716.000000, 291.000000)">
				                  <g transform="translate(154.000000, 300.000000)">
				                    <path class="color-background" d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z" opacity="0.603585379"></path>
				                    <path class="color-background" d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"></path>
				                  </g>
				                </g>
				              </g>
				            </g>
				          </svg>
				        </div>
						&nbsp;MCP
				      </a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link text-dark" data-scroll href="#scroll-position2">
				        <div class="icon me-2">
						  <svg class="text-primary" width="20px" height="20px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				            <title>document</title>
				            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				              <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
				                <g transform="translate(1716.000000, 291.000000)">
				                  <g transform="translate(154.000000, 300.000000)">
				                    <path class="color-background" d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z" opacity="0.603585379"></path>
				                    <path class="color-background" d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"></path>
				                  </g>
				                </g>
				              </g>
				            </g>
				          </svg>
				        </div>
						&nbsp;반응형 웹서비스
				      </a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link text-dark" data-scroll href="#scroll-position3">
				        <div class="icon me-2">
						  <svg class="text-primary" width="20px" height="20px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				            <title>document</title>
				            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				              <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
				                <g transform="translate(1716.000000, 291.000000)">
				                  <g transform="translate(154.000000, 300.000000)">
				                    <path class="color-background" d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z" opacity="0.603585379"></path>
				                    <path class="color-background" d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"></path>
				                  </g>
				                </g>
				              </g>
				            </g>
				          </svg>
				        </div>
						&nbsp;CRM
				      </a>
				    </li>
					<li class="nav-item">
					  <a class="nav-link text-dark" data-scroll href="#scroll-position4">
					    <div class="icon me-2">
						  <svg class="text-primary" width="20px" height="20px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				            <title>document</title>
				            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				              <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
				                <g transform="translate(1716.000000, 291.000000)">
				                  <g transform="translate(154.000000, 300.000000)">
				                    <path class="color-background" d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z" opacity="0.603585379"></path>
				                    <path class="color-background" d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"></path>
				                  </g>
				                </g>
				              </g>
				            </g>
				          </svg>
					    </div>
						&nbsp;MIS
					  </a>
					</li>
				
				  </ul>
				</div>
					
		      <div class="col-lg-8 col-10 d-flex justify-content-center flex-column mx-7 text-lg-start text-center">
				<h1 class="mb-0 mt-lg-0 mt-4 text-gradient text-info">Solution</h1><br>
				<div class="card card-blog card-plain">
				  <div class="position-relative">
				    <a class="d-block blur-shadow-image">
				      <img src="/images/business/solution_main1.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" id="scroll-position1">
				    </a>
				  </div><br>
				  <div class="card-body px-0 pt-4">
					<h3 class="mb-4">CP의 정의</h3>		
					<p class="blockquote my-3 ps-2">
					  <span><strong>CP (Contents Provider)</strong>는 기업의 CP는 인터넷에서 이용자에게 제공되는 정보의 내용을 제작하는 사람이나 기관을 의미하는데,<br> 
							콘텐츠 제공업체가 자신의 콘텐츠를 직접 운영할 때도 별도의 부담 없이 정보를 증대시킬 수 있고,<br> 정보의 질에 맞는 정보제공계약을 체결할 수 있습니다.<br>
							CP서비스 기반이 인터넷으로 전환됨에 따라 특정 서비스를 통해 콘텐츠를 제공할 필요가 없어졌기 때문에<br> 전문성과 아이디어만 있으면 굳이 독립성이 보장되지 않는 콘텐츠 일괄관리방식을 택할 필요가 없습니다.</span>
					  <br>
					</p><br>
					<h3 class="mt-4">Mobile Content Provider의 비전</h3>
				  </div>
				</div>

		        <ul class="m-lg-2 m-auto" style="padding-left: 0rem;">
		          <li class="lead mb-2" style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;Mobile Content Provider은 성장하는 Open Market으로 Smart Phone을 대상으로 하는 Open Market시장은 빠르게 성장중입니다.<br>
					      &emsp;&emsp;&nbsp;App Store와 Android Market의 성장에 대한 이야기는 이제는 식상할 정도이며 국내 T스토어도 정량적인 성장을 계속하고 있습니다.</li>
		          <li class="lead mb-2"	style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;Seller는 공격적인 마케팅과 운영이 필요합니다. Walled Garden때와 마찬가지로 Open Market로 상위랭크에 들어가는 것이 매우 중요합니다.<br>
						  &emsp;&emsp;&nbsp;그 상위랭크에 포함되기 위해서는 무료컨텐츠 활용 (Lite Version), Redeem Code발행, 댓글관리, 일정 주기의 버전업 등<br>
						  &emsp;&emsp;&nbsp;다양한 형태의 마케팅과 운영이 수반되어야 합니다.<br>
						  &emsp;&emsp;&nbsp;1회성 컨텐츠 업로드로 끝나던 Walled Garden과는 큰 차이가 있습니다.</li>
		        </ul><br>
		        <h3 class="mt-4 advantages">Mobile Content Provider 의 구축기능 및 장점</h3>
				
				<p class="d-inline-flex gap-1">
  				  <button class="btn btn-success btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
  				    장기적 관점
  				  </button>
  				  <button class="btn btn-warning btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
  				    단기적 관점
  				  </button>
  				</p>
  				<div class="collapse" id="collapseExample1">
  				  <div class="card card-body bodydescription">
					&emsp;고부가가치의 사업 체계 구축 및 시장에서의 경쟁력 강화
  				  </div>
  				</div>
  				<div class="collapse" id="collapseExample2">
  				  <div class="card card-body bodydescription">
  					<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&emsp;업무 생산성 향상 지원</P>
  					<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&emsp;구성원간의 효과적인 협업 지원</p>
  					<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&emsp;신속한 사내 정보 획득 지원</p>
					<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&emsp;사용자 중심의 업무 환경 지원</p>
  				  </div>
  				</div>
			
				<div class="card card-blog card-plain">
				  <div class="position-relative">
				    <a class="d-block blur-shadow-image">
				      <img src="/images/business/solution_main2.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" id="scroll-position2">
				    </a>
				  </div><br>
				  <div class="card-body px-0 pt-4">
					<h3 class="mb-4">반응형 웹서비스의 정의</h3>		
					<p class="blockquote my-3 ps-2">
					  <span><strong>반응형 웹서비스</strong>는 기업의 홈페이지나 관리페이지에 접속할 때 PC, 모바일, 테블릿 등과 같이 각 기기마다의 최적화된 해상도가 존재하는데,<br>
							 그 해상도를 디스플레이 종류에 따라 화면의 크기가 자동으로 최적화되도록 조절되는 웹페이지를 의미합니다.</span>
					  <br>
					</p><br>
					<h3 class="mt-4">반응형 웹서비스의 비전</h3>
				  </div>
				</div>
			
			       <ul class="m-lg-2 m-auto" style="padding-left: 0rem;">
			         <li class="lead mb-2" style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;반응형 웹서비스는 기존의 웹서비스가 각각의 디스플레이에 따라 화면의 깨짐 현상으로 기업의 이미지를 실추시키거나<br>
						  &emsp;&emsp;&nbsp;각각의 관리 페이지를 만드는 수고와 비용을 줄이고, 하나의 페이지로 관리함으로 제작 비용을 절감하고, 관리가 용이하며,<br>
					      &emsp;&emsp;&nbsp;기업의 이미지를 격상시킴으로 기업과 공공기관에서 각광받는 웹서비스입니다.</li>
			         <li class="lead mb-2"	style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;여러 종류의 스마트폰이 각각 다른 크기의 화면에 무리 없이 웹페이지에 접속할 수 있어<br>
						  &emsp;&emsp;&nbsp;여러 종류의 새로운 스마트기기가 만연한 시대에 없어서는 안될 중요한 도구이며, 고객의 수요는 날로 증가하고 있습니다.<br>
					  </li>
			       </ul>
			       <h3 class="mt-4 advantages">반응형 웹서비스의 구축기능 및 장점</h3>
				
				<p class="d-inline-flex gap-1">
				  <button class="btn btn-success btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
				    장기적 관점
				  </button>
				  <button class="btn btn-warning btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
				    단기적 관점
				  </button>
				</p>
				<div class="collapse" id="collapseExample3">
				  <div class="card card-body bodydescription">
					&emsp;고부가가치의 사업 체계 구축 및 시장에서의 경쟁력 강화
				  </div>
				</div>
				<div class="collapse" id="collapseExample4">
				  <div class="card card-body bodydescription">
					<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&emsp;업무 생산성 향상 지원</P>
					<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&emsp;구성원간의 효과적인 협업 지원</p>
					<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&emsp;신속한 사내 정보 획득 지원</p>
					<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&emsp;사용자 중심의 업무 환경 지원</p>
				  </div>
				</div>
			  
			  <div class="card card-blog card-plain">
			    <div class="position-relative">
			      <a class="d-block blur-shadow-image">
			        <img src="/images/business/solution_main3.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" id="scroll-position3">
			      </a>
			    </div><br>
			    <div class="card-body px-0 pt-4">
			  	<h3 class="mb-4">CRM의 정의</h3>		
			  	<p class="blockquote my-3 ps-2">
			  	  <span><strong>CRM (Customer Relationship Management)</strong>은 영업활동 관리 + 마케팅 활동 관리 + 고객통합서비스를 통합하여<br> 
						기업 내부의 축적된 고객정보를 효과적으로 활용하고 고객과의 관계를 유지 확대 개선함으로써,<br> 고객의 만족과 충성도를 제고하고, 기업 및 조직의 지속적인 운영, 
						확장 발전을 추구하는 고객관련 제반 프로세스 및 활동으로 정의합니다.
			  	  <br>
			  	</p><br>
			  	<h3 class="mt-4">MDT CRM시스템의 비전</h3>
			    </div>
			  </div>
			  
			        <ul class="m-lg-2 m-auto" style="padding-left: 0rem;">
			          <li class="lead mb-2" style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;Mobile Distribution CRM 은 반응형 웹서비스와 CRM을 연계한 모바일 반응형 영업관리 시스템 (MDT CRM)이며,<br>
			  		  &emsp;&emsp;&nbsp;다양한 스마트 기기에서 영업관리, 마케팅활동, 고객통합 서비스를 관리할 수 있습니다. 한국이 최신 스마트기기의 강대국임을 생각한다면,<br>
			  	      &emsp;&emsp;&nbsp;국내외 뿐만 아니라 해외의 여러 나라들 또한 모바일 반응형 영업관리 시스템을 선호하게 되며, 그로 인해 발생되는 파급효과는 기대 이상입니다.</li>
			          <li class="lead mb-2"	style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;Mobile Distribution CRM 은 신규고객획득, 우수고객 유치, 고객가치 증진, 잠재고객 활성화, 평생고객화가 모바일을 통해 가능함으로<br>
			  		  &emsp;&emsp;&nbsp;새로운 스마트기기가 만연한 시대에 적합한 시스템으로 고객의 평생 가치를 극대화하고 기업의 장기적인 수익을 극대화할 수 있는 시스템입니다.<br>
			  	  </li>
			        </ul>
			        <h3 class="mt-4	advantages">MDT CRM 의 구축기능 및 장점</h3>
			  
			  <p class="d-inline-flex gap-1">
				<button class="btn btn-primary btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
			      특장점
			    </button>
			    <button class="btn btn-success btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
			      장기적 관점
			    </button>
			    <button class="btn btn-warning btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
			      단기적 관점
			    </button>
			  </p>
			  <div class="collapse" id="collapseExample5">
			    <div class="card card-body bodydescription">
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;사용자가 요구하는 지식 제공 (Presentation Service)</P>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;System Integration / Maintenance 용이</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;정보 수집에 이용되는 시간 감소 및 의사 결정 용이</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;통합방식과 개별방식을 통해 사용자에게 적합한 지식 정보 제공</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;시간 공간 제약의 최소화 (Anytime, Anywhere, Anyone)</P>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;기업내의 협업 기능 강화 및 지식 공유 극대화</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;조직자원과 지식 정보에 대한 단일화 된 Web Interface 접근 가능</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;Single Sign On과 정보 공유, 정보 검색 용이</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;사용자가 직접 자신의 포탈을 개인화가 가능</p>
			    </div>
			  </div>
			  <div class="collapse" id="collapseExample6">
			    <div class="card card-body bodydescription">
				&emsp;고부가가치의 사업 체계 구축 및 시장에서의 경쟁력 강화
			    </div>
			  </div>
			  <div class="collapse" id="collapseExample7">
			    <div class="card card-body bodydescription">
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;업무 생산성 향상 지원</P>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;구성원간의 효과적인 협업 지원</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;신속한 사내 정보 획득 지원</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;사용자 중심의 업무 환경 지원</p>
			    </div>
			  </div>
			  
			  <div class="card card-blog card-plain">
			    <div class="position-relative">
			      <a class="d-block blur-shadow-image">
			        <img src="/images/business/solution_main4.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" id="scroll-position4">
			      </a>
			    </div><br>
			    <div class="card-body px-0 pt-4">
			  	<h3 class="mb-4">MIS의 정의</h3>		
			  	<p class="blockquote my-3 ps-2">
			  	  <span><strong>MIS(management information system)</strong>은 조직의 계획·운영 및 통제를 위한 정보를 수집, 저장·검색·처리하여<br> 
					적절한 시기에 적절한 형태로 적절한 구성원에게 제공함으로써 조직의 목표를 효율적이고 효과적으로 달성할 수 있도록<br> 조직화한 통합적 인간·기계 시스템을 말합니다.
			  	  <br>
			  	</p><br>
			  	<h3 class="mt-4">MDT-MIS시스템 비전</h3>
			    </div>
			  </div>
			  
			        <ul class="m-lg-2 m-auto" style="padding-left: 0rem;">
			          <li class="lead mb-2" style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;Mobile Distribution MIS은 서비스와 MIS를 연계한 모바일 경영관리시스템(MDT MIS)이며,<br>
			  		  &emsp;&emsp;&nbsp;다양한 스마트 기기에서 경영정보 시스템, 관리정보 시스템, 작업정보 시스템, 구매시스템, 재무시스템 등을 관리 할 수 있습니다.<br>
			  	      &emsp;&emsp;&nbsp;각 기업별로 경영정보시스템을 도입하고 있으며 해외 기업들도 사용 가능하며 기업의 업무효율 가치의 향상이 기대됩니다.</li>
			          <li class="lead mb-2"	style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;Mobile Distribution MIS은 기업들의 경영에 맞춰 변경이 가능하며,<br>
			  		  &emsp;&emsp;&nbsp;기업의 경영에 맞는 시스템을 적용하여 경영관리에 편리함을 높이고 장기적으로 사용 가능한 시스템입니다.<br>
			  	  </li>
			        </ul>
			        <h3 class="mt-4 advantages">MDT-MIS 의 구축기능 및 장점</h3>
			  
			  <p class="d-inline-flex gap-1">
			  <button class="btn btn-primary btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
			      특장점
			    </button>
			    <button class="btn btn-success btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample">
			      장기적 관점
			    </button>
			    <button class="btn btn-warning btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample">
			      단기적 관점
			    </button>
			  </p>
			  <div class="collapse" id="collapseExample8">
			    <div class="card card-body bodydescription">
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;사용자가 요구하는 지식 제공 (Presentation Service)</P>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;정보 수집에 이용되는 시간 감소 및 의사 결정 용이</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;기업내의 협업 기능 강화 및 지식 공유 극대화</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;조직자원과 지식 정보에 대한 단일화 된 Web Interface 접근 가능</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;Single Sign On과 정보 공유, 정보 검색 용이</p>
			    </div>
			  </div>
			  <div class="collapse" id="collapseExample9">
			    <div class="card card-body bodydescription">
			  &emsp;고부가가치의 사업 체계 구축 및 시장에서의 경쟁력 강화
			    </div>
			  </div>
			  <div class="collapse" id="collapseExample10">
			    <div class="card card-body bodydescription">
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;업무 생산성 향상 지원</P>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;구성원간의 효과적인 협업 지원</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;신속한 사내 정보 획득 지원</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&emsp;사용자 중심의 업무 환경 지원</p>
			    </div>
			  </div>
			</div>
			   
		    </div>
		  </div>
		</section>
		<!-- END Blogs w/ big image on left -->
		
	</main>
	<footer id="footer">
		<div class="row text">
			<div class="col-lg-6 footer-contact">
				<p><strong></strong>주식회사 민소프트</p>
				<!--<p><strong>대표이사:</strong> 김민구</p>-->
				<p><strong></strong>Tel) 02-6482-0051 | Fax) 02-6483-0051</p>
				<p><strong></strong>E-mail : minsoft@minsoft.co.kr</p>
				<p><strong></strong>07788) 서울시 강서구 마곡서로 158, 1306호 ( 마곡센트럴타워Ⅱ )</p>
				<p class="min">
					<img id="logoImg2" src="/images/logo.jpg" alt="로고 이미지">
					&copy; Copyright 2024. <strong><span>주식회사 민소프트</span></strong> All Rights Reserved.
				</p>
			</div>

		</div>
		
		<!-- 상단 이동하기 버튼 -->
		<a href="#" class="btn_gotop shadow-sm" id="click">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
			  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z"/>
			</svg>
		</a>
	</footer>
	<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../../assets/js/soft-design-system-pro.min.js?v=1.1.0" type="text/javascript"></script>
	<script>
		if (document.getElementById('language-select')) {
			var element = document.getElementById('language-select');
			const example = new Choices(element, {
				searchEnabled: false
			});

		}
		if (document.getElementById('currency-select')) {
			var element = document.getElementById('currency-select');
			const example = new Choices(element, {
				searchEnabled: false
			});
		}

		/*헤더 네비바 따라 내려오게하는 스크립트*/
		window.addEventListener('scroll', function () {
			var navbar = document.querySelector('.navbar');
			if (window.scrollY > 50) { // 스크롤 위치가 50px 이상인 경우
				navbar.classList.add('fixed-top'); // 고정된 위치로 설정
			} else {
				navbar.classList.remove('fixed-top'); // 일반 위치로 설정
			}
		});
		<!--채용공고 페이지로 가는 url 설정-->
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('a[data-scroll]').forEach(anchor => {
        anchor.addEventListener('click', function(event) {
            event.preventDefault();
            const targetId = this.getAttribute('href').substring(1);
            const targetElement = document.getElementById(targetId);

            window.scrollTo({
                top: targetElement.offsetTop,
                behavior: 'smooth'
            });
        });
    });
});
	</script>
</body>
<style>
	/*헤더 부분 css 시작*/
	.text-white {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		/* Adjust as needed */
		margin: 0;
		/* Remove any default margin */
		/* color: #344767 !important; */
		font-family: 'GmarketSansMedium';

	}

	.btn {
		/*배너 사진밑에 버튼 CSS*/

		padding: 10px 50px;
		/* 버튼의 내부 여백을 조정합니다. */
		margin: 50px;
		/* 버튼 사이의 간격을 설정합니다. */
		color: black;
		background-color: white;
		font-size: 30px;
		font-weight: 500;
		/* 글자를 굵게 설정합니다. */
	}

	.mainbutton {
		/*배너 아래 버튼 마진 css*/
		text-align: center;
		margin-bottom: 70px;

	}
.mainbutton .btn {
    padding: 10px 16px; /* Adjusted padding if needed */
    font-size: 20px; /* Font size adjustment if needed */
    width: 140px; /* Example width */
    height: 40px; /* Example height */
}

	.btn-light:hover {
		/*버튼 호버 색상 변경*/
		color: white;
		/* 호버시 텍스트 색상 변경 */
		background-color: lightgrey;
		/* 호버시 배경색 변경 */
		border-color: blue;
		/* 호버시 테두리 색상 변경 */
	}

	.mainbutton .btn {
		border: none;
		/* 버튼 테두리를 없앱니다 */
	}
	.dropdown-header{
		/*드롭다운 폰트설정*/
		font-family: 'Pretendard-Regular';
	}

	/*헤더 부분 css 끝*/

	/*main시작 css*/
	
	/*폰트추가*/
	@font-face {
	    font-family: 'GmarketSansMedium';
	    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	@font-face {
	   font-family: 'BookkGothic-Bd';
	   src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkGothic-Bd.woff2') format('woff2');
	   font-weight: 700;
	   font-style: normal;
	}
	@font-face {
		font-family: 'NanumBarunGothic';
		font-style: normal;
		font-weight: 400;
		src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
		src: url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
	}
	@font-face {
	    font-family: 'Pretendard-Regular';
	    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	    font-weight: 400;
	    font-style: normal;
	}
	/*Noto Sans 폰트추가*/
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
	@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}
	
	/*상단 5개 버튼 폰트 수정*/
	#btn-solutions5{
		 font-family: 'GmarketSansMedium';
		 font-weight: 500;
	}
	/*본문 상단여백 조정*/
	.py-5{
		padding-top: 0 !important;
	}
	.mb-3{
		/*좌측 네비 각 항목 설정*/
		width: 17%;
		margin-top: 50px; 
		margin-left: 30px;
		font-family: 'Nanum Gothic', sans-serif; /*페이지 상단 head부분에 link 추가 */
		font-size: 20px;
		font-weight: 600;
	}
	.card-body .mb-4,
	.card-body .mt-4,
	.advantages {
		/*정의, 비전, 장점 부제목 폰트설정 */
		font-family: 'NanumBarunGothic' !important;
	}
	
	.blockquote,
	.collapse .card-body {
		/* 정의 설명부분 폰트 및 */
		/* 장단기적 관점 세부내용 폰트설정 */
		font-family: 'Nanum Gothic', sans-serif;
	}
	.collapse .card-body,
	.collapse .card-body p{
		/* 장단기적 관점 세부내용 폰트 크기설정*/
		font-size: 17px;
	}
	.lead {
		/*비전 세부내용 폰트 및 줄간격 설정 */
		font-family: 'Nanum Gothic', sans-serif;
		line-height: 175%;
	}
	.top-15 {
		/*네비 상단 고정여백 절대치 설정*/
	  top: 15% !important;
	}
	.d-block {
		/* 이미지 상단부분 여백*/
		padding-top: 50px;
	}

	.btn-primary:focus,
	.btn-success:focus,
	.btn-warning:focus {
		/*장단기적 관점 버튼클릭 이후의 폰트색상*/
		color:black;
	}
	.btn-primary{
		/*특장점 버튼 길이설정*/
		width: 223.84px;
	}
	.btndescription{
		/*장단기적 관점 버튼 여백 및 폰트설정*/
		margin: 40px 30px 50px 5px;
		font-size: 24px;
		font-family: 'NanumBarunGothic';
	}
	.bodydescription{
		/* 장단기적 관점 클릭시 나오는 콜랩스박스 그림자 설정*/
		box-shadow: 2px 2px 2px 2px lightgray;
		margin-bottom: 10px;
	}
	
	.data-scroll{
		/*여백 절대치 설정*/
		bottom: -10% !important;
	}
	#scroll-position1,
	#scroll-position2,
	#scroll-position3,
	#scroll-position4 {
		/*네비 클릭후 화면 이동시의 여백 절대치 설정*/
		scroll-margin-top: 6rem;
	}
	
	/*main css 끝*/
	
	/*푸터 css 시작 */
	.min {
		/*밑에 저작권문구 위치조정*/
		position: absolute;
		bottom: 40px;
		right: -70%;
	}

	#footer .footer-contact {
		position: relative;
		margin-left: 100px;
		/* 적당한 여백 값을 지정하세요. */
	}

	#logoImg2 {
		/*푸터부분 이미지위치*/
		position: absolute;
		top: -55px;
		/* 이미지를 위로 이동시킬 픽셀 수 */
		right: 30%;
	}

	#footer {
		/*푸터 위쪽 밑줄*/
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		/* 투명도가 있는 연한 회색으로 변경 */
		padding-top: 30px;
		/* 원하는 간격 설정 */
		margin-top: 50px;
	}



	#fixedNav .nav-link {
		font-weight: bold;
		/* 글자를 굵게 설정합니다. */
		color: black;
		/* 글자 색상을 검은색으로 설정합니다. */
		font-size: 25px;
		/* 원하는 크기로 설정하세요 */
		margin-bottom: 90px;
		/* 아래쪽으로 20px의 공간을 띄웁니다. */
	}

	.text-center {
		margin-top: 50px;
		/* 푸터 요소의 위쪽에 20px의 마진 추가 */
	}
	
	/*상단이동 버튼*/
	.btn_gotop { 
		display: block; 
		position: fixed; 
		bottom: 30px; /* 탑버튼을 화면의 가장 아래에서 몇 픽셀 떨어뜨릴 것인지 정하세요*/ 
		right: 30px; /* 탑버튼을 화면의 가장 오른쪽에서 몇 픽셀 떨어뜨릴 것인지 정하세요*/ 
		z-index: 999; 
		border: 1px solid rgba(0,0,0,0.25); 
		outline: none; 
		background-color: white; 
		color: rgba(0,0,0,0.7); 
		cursor: pointer; 
		padding: 15px 20px; 
		border-radius: 100%; 
	}	
	/*푸터 css 끝*/
	/* 모바일 장치용 반응형 스타일 */
@media (max-width: 768px) {
    .container {
        height: auto;
        padding: 20px;
    }

    .responsive-image {
        width: 100%;
        height: auto;
    }
}

/* 데스크탑 및 더 큰 화면 */
@media screen and (min-width: 1025px) {
   
    .btn {
        font-size: 20px;
        padding: 12px 40px;
    }
}
</style>

</html>