<!--
=========================================================
* Soft UI Design System PRO - v1.1.0
=========================================================

* Product Page:  https://themes.getbootstrap.com/product/soft-ui-design-system-pro/ 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="../../assets/img/favicon.png">
	<title>
		Soft UI Design System PRO by Creative Tim
	</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<!-- Nucleo Icons -->
	<link href="../../assets/css/nucleo-icons.css" rel="stylesheet" />
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- Font Awesome Icons -->
	<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
	<link href="../../assets/css/nucleo-svg.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link id="pagestyle" href="../../assets/css/soft-design-system-pro.css?v=1.1.0" rel="stylesheet" />
</head>

<body class="blog-posts">
	<!-- Navbar Light -->
	<nav class="navbar navbar-expand-lg navbar-light bg-white py-3">

	      <div class="container">
	         <a class="navbar-brand font-weight-bold" href="#">
	            <img src="/images/logo.jpg" alt="Soft UI PRO" style="max-width: 300px; height: 45PX;">
	         </a>
	
	         <a href="https://www.creative-tim.com/product/soft-ui-design-system-pro#pricingCard"
	            class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Buy Now</a>
	         <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
	            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
	            aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon mt-2">
	               <span class="navbar-toggler-bar bar1"></span>
	               <span class="navbar-toggler-bar bar2"></span>
	               <span class="navbar-toggler-bar bar3"></span>
	            </span>
	         </button>
	         <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
	            <ul class="navbar-nav navbar-nav-hover mx-auto">
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     COMPANY
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          인사말
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          회사연혁
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          기술인증
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     BUSINESS
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          사업내용
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          아웃소싱
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          SI / SM
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          컨설팅
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          솔루션
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     RECRUIT
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          복지제도
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          채용안내
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     CONTACT US
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          찾아오는 길
	                                       </h6>
	
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	               <li class="nav-item dropdown dropdown-hover mx-2">
	                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
	                     id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false" role="button"
	                     style="font-size: 1.3rem;"> <!-- 여기에 원하는 크기를 설정하세요 -->
	                     ABOUT US
	                     <img src="../../assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
	                  </a>
	
	                  <div class="dropdown-menu dropdown-menu-animation dropdown-lg mt-0 mt-lg-3 p-3 border-radius-lg"
	                     aria-labelledby="dropdownMenuDocs">
	                     <div class="d-none d-lg-block">
	                        <ul class="list-group">
	                           <li class="nav-item list-group-item border-0 p-0">
	                              <a class="dropdown-item py-2 ps-3 border-radius-md"
	                                 href=" https://www.creative-tim.com/learning-lab/bootstrap-marketplace/overview/soft-ui-design-system ">
	                                 <div class="d-flex">
	
	                                    <div>
	                                       <h6 class="dropdown-header text-black font-weight-bolder d-flex justify-content-center align-items-center p-0"
	                                          style="font-size: 16px; /* 원하는 크기로 조정 */ font-weight: bold; /* 굵기 조정 */ ">
	                                          공지사항
	                                       </h6>
	                                    </div>
	                                 </div>
	                              </a>
	                           </li>
	                        </ul>
	                     </div>
	
	                  </div>
	               </li>
	            </ul>
	
	         </div>
	      </div>
	   </nav>
	<!-- End Navbar -->
	<!-- -------- START HEADER 11 w/ carousel ------- -->
	<header>
	      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	         <div class="carousel-inner">
	            <div class="carousel-item active">
	               <div class="page-header min-vh-45 border-xl"
	                  style="background-image: url('/images/business/solution_banner2.jpg');">
	                  <span class="mask" style="opacity: 0.5;"></span>
	                  <div class="container">
	                     <div class="row">
	                        <div class="col-lg-12 my-auto">
	                           <h1 class="text-white fadeIn2">솔루션</h1>
	                        </div>
	                     </div>
	                  </div>
	               </div>
	
	
	            </div>
	
	         </div>
	      </div>
	   </header>

	<!-- -------- END HEADER 11 w/ carousel ------- -->
	<main>
		<div class="mainbutton">
			<a href="/businessdetails" class="btn btn-light">사업내용</a>
			<a href="/consulting" class="btn btn-light">IT 아웃소싱</a>
			<a href="/business" class="btn btn-light">SI / SM</a>
			<a href="/consulting" class="btn btn-light">컨설팅</a>
			<a href="/solutions" class="btn btn-light">솔루션</a>
		</div>

		

		  <div class="container">
		    <div class="row">
				<div class="col-lg-3 mb-lg-0 mb-3">
				  <ul class="nav flex-column bg-white border-radius-lg p-3 position-sticky top-1">
					
				    <li class="nav-item">
				      <a class="nav-link text-dark" data-scroll href="#cp1">
				        <div class="icon me-2">
				          <svg class="text-primary" width="16px" height="16px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				            <title>document</title>
				            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				              <g transform="translate(-1870.000000, -591.000000)" fill="#FFFFFF" fill-rule="nonzero">
				                <g transform="translate(1716.000000, 291.000000)">
				                  <g transform="translate(154.000000, 300.000000)">
				                    <path class="color-background" d="M40,40 L36.3636364,40 L36.3636364,3.63636364 L5.45454545,3.63636364 L5.45454545,0 L38.1818182,0 C39.1854545,0 40,0.814545455 40,1.81818182 L40,40 Z" opacity="0.603585379"></path>
				                    <path class="color-background" d="M30.9090909,7.27272727 L1.81818182,7.27272727 C0.814545455,7.27272727 0,8.08727273 0,9.09090909 L0,41.8181818 C0,42.8218182 0.814545455,43.6363636 1.81818182,43.6363636 L30.9090909,43.6363636 C31.9127273,43.6363636 32.7272727,42.8218182 32.7272727,41.8181818 L32.7272727,9.09090909 C32.7272727,8.08727273 31.9127273,7.27272727 30.9090909,7.27272727 Z M18.1818182,34.5454545 L7.27272727,34.5454545 L7.27272727,30.9090909 L18.1818182,30.9090909 L18.1818182,34.5454545 Z M25.4545455,27.2727273 L7.27272727,27.2727273 L7.27272727,23.6363636 L25.4545455,23.6363636 L25.4545455,27.2727273 Z M25.4545455,20 L7.27272727,20 L7.27272727,16.3636364 L25.4545455,16.3636364 L25.4545455,20 Z"></path>
				                  </g>
				                </g>
				              </g>
				            </g>
				          </svg>
				        </div>
						Mobile Content Provider
				      </a>
				    </li>
				
				    <li class="nav-item">
				      <a class="nav-link text-dark" data-scroll href="#mcp1">
				        <div class="icon me-2">
				          <svg class="text-primary" width="16px" height="16px" viewBox="0 0 40 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				            <title>switches</title>
				            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				              <g transform="translate(-1870.000000, -440.000000)" fill="#FFFFFF" fill-rule="nonzero">
				                <g transform="translate(1716.000000, 291.000000)">
				                  <g id="switches" transform="translate(154.000000, 149.000000)">
				                    <path class="color-background" d="M10,20 L30,20 C35.4545455,20 40,15.4545455 40,10 C40,4.54545455 35.4545455,0 30,0 L10,0 C4.54545455,0 0,4.54545455 0,10 C0,15.4545455 4.54545455,20 10,20 Z M10,3.63636364 C13.4545455,3.63636364 16.3636364,6.54545455 16.3636364,10 C16.3636364,13.4545455 13.4545455,16.3636364 10,16.3636364 C6.54545455,16.3636364 3.63636364,13.4545455 3.63636364,10 C3.63636364,6.54545455 6.54545455,3.63636364 10,3.63636364 Z" opacity="0.6"></path>
				                    <path class="color-background" d="M30,23.6363636 L10,23.6363636 C4.54545455,23.6363636 0,28.1818182 0,33.6363636 C0,39.0909091 4.54545455,43.6363636 10,43.6363636 L30,43.6363636 C35.4545455,43.6363636 40,39.0909091 40,33.6363636 C40,28.1818182 35.4545455,23.6363636 30,23.6363636 Z M30,40 C26.5454545,40 23.6363636,37.0909091 23.6363636,33.6363636 C23.6363636,30.1818182 26.5454545,27.2727273 30,27.2727273 C33.4545455,27.2727273 36.3636364,30.1818182 36.3636364,33.6363636 C36.3636364,37.0909091 33.4545455,40 30,40 Z"></path>
				                  </g>
				                </g>
				              </g>
				            </g>
				          </svg>
				        </div>
				        반응형 웹서비스
				      </a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link text-dark" data-scroll href="#crm1">
				        <div class="icon me-2">
				          <svg class="text-primary" width="16px" height="16px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				            <title>settings</title>
				            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				              <g transform="translate(-2020.000000, -442.000000)" fill="#FFFFFF" fill-rule="nonzero">
				                <g transform="translate(1716.000000, 291.000000)">
				                  <g id="settings" transform="translate(304.000000, 151.000000)">
				                    <polygon class="color-background" opacity="0.596981957" points="18.0883333 15.7316667 11.1783333 8.82166667 13.3333333 6.66666667 6.66666667 0 0 6.66666667 6.66666667 13.3333333 8.82166667 11.1783333 15.315 17.6716667"></polygon>
				                    <path class="color-background" d="M31.5666667,23.2333333 C31.0516667,23.2933333 30.53,23.3333333 30,23.3333333 C29.4916667,23.3333333 28.9866667,23.3033333 28.48,23.245 L22.4116667,30.7433333 L29.9416667,38.2733333 C32.2433333,40.575 35.9733333,40.575 38.275,38.2733333 L38.275,38.2733333 C40.5766667,35.9716667 40.5766667,32.2416667 38.275,29.94 L31.5666667,23.2333333 Z" opacity="0.596981957"></path>
				                    <path class="color-background" d="M33.785,11.285 L28.715,6.215 L34.0616667,0.868333333 C32.82,0.315 31.4483333,0 30,0 C24.4766667,0 20,4.47666667 20,10 C20,10.99 20.1483333,11.9433333 20.4166667,12.8466667 L2.435,27.3966667 C0.95,28.7083333 0.0633333333,30.595 0.00333333333,32.5733333 C-0.0583333333,34.5533333 0.71,36.4916667 2.11,37.89 C3.47,39.2516667 5.27833333,40 7.20166667,40 C9.26666667,40 11.2366667,39.1133333 12.6033333,37.565 L27.1533333,19.5833333 C28.0566667,19.8516667 29.01,20 30,20 C35.5233333,20 40,15.5233333 40,10 C40,8.55166667 39.685,7.18 39.1316667,5.93666667 L33.785,11.285 Z"></path>
				                  </g>
				                </g>
				              </g>
				            </g>
				          </svg>
				        </div>
				        CRM
				      </a>
				    </li>
				
				  </ul>
				</div>
		    </div>
		  </div>


		<!-- START Blogs w/ big image on left -->
		<section class="py-5">
		  <div class="container-fluid">
		    <div class="row">		
				
		      <div class="col-lg-8 col-10 d-flex justify-content-center flex-column mx-auto text-lg-start text-center">
				<h1 class="mb-0 mt-lg-0 mt-4 text-gradient text-info">Solution</h1><br>
				<div class="card card-blog card-plain">
				  <div class="position-relative">
				    <a class="d-block blur-shadow-image">
				      <img src="/images/business/solution_main1.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" id="cp1">
				    </a>
				  </div><br>
				  <div class="card-body px-0 pt-4">
					<h3 class="mb-4">CP의 정의</h3>		
					<p class="blockquote my-3 ps-2">
					  <span><strong>CP (Contents Provider)</strong>는 기업의 CP는 인터넷에서 이용자에게 제공되는 정보의 내용을 제작하는 사람이나 기관을 의미하는데, 
							콘텐츠 제공업체가 자신의 콘텐츠를 직접 운영할 때도 별도의 부담 없이 정보를 증대시킬 수 있고, 정보의 질에 맞는 정보제공계약을 체결할 수 있습니다.<br>
							CP서비스 기반이 인터넷으로 전환됨에 따라 특정 서비스를 통해 콘텐츠를 제공할 필요가 없어졌기 때문에 전문성과 아이디어만 있으면 굳이 독립성이 보장되지 않는 콘텐츠 일괄관리방식을 택할 필요가 없습니다.</span>
					  <br>
					</p><br>
					<h3 class="mt-4">Mobile Content Provider의 비전</h3>
				  </div>
				</div>

		        <ul class="m-lg-2 m-auto" style="padding-left: 0rem;">
		          <li class="lead mb-2" style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;Mobile Content Provider은 성장하는 Open Market으로 Smart Phone을 대상으로 하는 Open Market시장은 빠르게 성장중입니다.<br>
					      &emsp;&emsp;&nbsp;App Store와 Android Market의 성장에 대한 이야기는 이제는 식상할 정도이며 국내 T스토어도 정량적인 성장을 계속하고 있습니다.</li>
		          <li class="lead mb-2"	style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;Seller는 공격적인 마케팅과 운영이 필요합니다. Walled Garden때와 마찬가지로 Open Market로 상위랭크에 들어가는 것이 매우 중요합니다.<br>
						  &emsp;&emsp;&nbsp;그 상위랭크에 포함되기 위해서는 무료컨텐츠 활용 (Lite Version), Reedem Code발행, 댓글관리, 일정 주기의 버전업 등<br>
						  &emsp;&emsp;&nbsp;다양한 형태의 마케팅과 운영이 수반되어야 합니다.<br>
						  &emsp;&emsp;&nbsp;1회성 컨텐츠 업로드로 끝나던 Walled Garden과는 큰 차이가 있습니다.</li>
		        </ul><br>
		        <h3 class="mt-4">Mobile Content Provider 의 구축기능 및 장점</h3>
				
				<p class="d-inline-flex gap-1">
  				  <button class="btn btn-success btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  				    장기적 관점
  				  </button>
  				  <button class="btn btn-warning btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
  				    단기적 관점
  				  </button>
  				</p>
  				<div class="collapse" id="collapseExample">
  				  <div class="card card-body">
  					고부가가치의 사업 체계 구축 및 시장에서의 경쟁력 강화
  				  </div>
  				</div>
  				<div class="collapse" id="collapseExample2">
  				  <div class="card card-body">
  					<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;업무 생산성 향상 지원</P>
  					<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;구성원간의 효과적인 협업 지원</p>
  					<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;신속한 사내 정보 획득 지원</p>
					<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;사용자 중심의 업무 환경 지원</p>
  				  </div>
  				</div>
			</div>
				
		     <div class="col-lg-8 col-10 d-flex justify-content-center flex-column mx-auto text-lg-start text-center">
				<div class="card card-blog card-plain">
				  <div class="position-relative">
				    <a class="d-block blur-shadow-image">
				      <img src="/images/business/solution_main2.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" id="mcp1">
				    </a>
				  </div><br>
				  <div class="card-body px-0 pt-4">
					<h3 class="mb-4">반응형 웹서비스의 정의</h3>		
					<p class="blockquote my-3 ps-2">
					  <span><strong>반응형 웹서비스</strong>는 기업의 홈페이지나 관리페이지에 접속할 때 PC, 모바일, 테블릿 등과 같이 각 기기마다의 최적화된 해상도가 존재하는데, 
							 그 해상도를 디스플레이 종류에 따라 화면의 크기가 자동으로 최적화되도록 조절되는 웹페이지를 의미합니다.</span>
					  <br>
					</p><br>
					<h3 class="mt-4">반응형 웹서비스의 비전</h3>
				  </div>
				</div>
			
			       <ul class="m-lg-2 m-auto" style="padding-left: 0rem;">
			         <li class="lead mb-2" style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;반응형 웹서비스는 기존의 웹서비스가 각각의 디스플레이에 따라 화면의 깨짐 현상으로 기업의 이미지를 실추시키거나<br>
						  &emsp;&emsp;&nbsp;각각의 관리 페이지를 만드는 수고와 비용을 줄이고, 하나의 페이지로 관리함으로 제작 비용을 절감하고, 관리가 용이하며,<br>
					      &emsp;&emsp;&nbsp;기업의 이미지를 격상시킴으로 기업과 공공기관에서 각광받는 웹서비스입니다.</li>
			         <li class="lead mb-2"	style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;여러 종류의 스마트폰이 각각 다른 크기의 화면에 무리 없이 웹페이지에 접속할 수 있어<br>
						  &emsp;&emsp;&nbsp;여러 종류의 새로운 스마트기기가 만연한 시대에 없어서는 안될 중요한 도구이며, 고객의 수요는 날로 증가하고 있습니다.<br>
					  </li>
			       </ul>
			       <h3 class="mt-4">반응형 웹서비스의 구축기능 및 장점</h3>
				
				<p class="d-inline-flex gap-1">
				  <button class="btn btn-success btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				    장기적 관점
				  </button>
				  <button class="btn btn-warning btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
				    단기적 관점
				  </button>
				</p>
				<div class="collapse" id="collapseExample">
				  <div class="card card-body">
					고부가가치의 사업 체계 구축 및 시장에서의 경쟁력 강화
				  </div>
				</div>
				<div class="collapse" id="collapseExample2">
				  <div class="card card-body">
					<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;업무 생산성 향상 지원</P>
					<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;구성원간의 효과적인 협업 지원</p>
					<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;신속한 사내 정보 획득 지원</p>
					<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
					  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
					</svg>&ensp;사용자 중심의 업무 환경 지원</p>
				  </div>
				</div>
			  </div>
			
			  
			  <div class="col-lg-8 col-10 d-flex justify-content-center flex-column mx-auto text-lg-start text-center">
			  <div class="card card-blog card-plain">
			    <div class="position-relative">
			      <a class="d-block blur-shadow-image">
			        <img src="/images/business/solution_main3.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg" id="crm1">
			      </a>
			    </div><br>
			    <div class="card-body px-0 pt-4">
			  	<h3 class="mb-4">CRM의 정의</h3>		
			  	<p class="blockquote my-3 ps-2">
			  	  <span><strong>CRM (Customer Relationship Management)</strong>은 영업활동 관리 + 마케팅 활동 관리 + 고객통합서비스를 통합하여 
						기업 내부의 축적된 고객정보를 효과적으로 활용하고 고객과의 관계를 유지 확대 개선함으로써, 고객의 만족과 충성도를 제고하고, 기업 및 조직의 지속적인 운영, 
						확장 발전을 추구하는 고객관련 제반 프로세스 및 활동으로 정의합니다.
			  	  <br>
			  	</p><br>
			  	<h3 class="mt-4">MDT CRM시스템의 비전</h3>
			    </div>
			  </div>
			  
			        <ul class="m-lg-2 m-auto" style="padding-left: 0rem;">
			          <li class="lead mb-2" style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;Mobile Distribution CRM 은 반응형 웹서비스와 CRM을 연계한 모바일 반응형 영업관리 시스템 (MDT CRM)이며,<br>
			  		  &emsp;&emsp;&nbsp;다양한 스마트 기기에서 영업관리, 마케팅활동, 고객통합 서비스를 관리할 수 있습니다. 한국이 최신 스마트기기의 강대국임을 생각한다면,<br>
			  	      &emsp;&emsp;&nbsp;국내외 뿐만 아니라 해외의 여러 나라들 또한 모바일 반응형 영업관리 시스템를 선호하게 되며, 그로 인해 발생되는 파급효과는 기대 이상입니다.</li>
			          <li class="lead mb-2"	style="list-style: none; font-size: 18px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;Mobile Distribution CRM 은 신규고객획득, 우수고객 유치, 고객가치 증진, 잠재고객 활성화, 평생고객화가 모바일을 통해 가능함으로<br>
			  		  &emsp;&emsp;&nbsp;새로운 스마트기기가 만연한 시대에 적합한 시스템으로 고객의 평생가치를 극대화하고 기업의 장기적인 수익을 극대화할 수 있는 시스템입니다.<br>
			  	  </li>
			        </ul>
			        <h3 class="mt-4">MDT CRM 의 구축기능 및 장점</h3>
			  
			  <p class="d-inline-flex gap-1">
				<button class="btn btn-primary btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample0" aria-expanded="false" aria-controls="collapseExample">
			      특장점
			    </button>
			    <button class="btn btn-success btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			      장기적 관점
			    </button>
			    <button class="btn btn-warning btndescription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
			      단기적 관점
			    </button>
			  </p>
			  <div class="collapse" id="collapseExample">
				<div class="collapse" id="collapseExample0">
				  <div class="card card-body">
					<P><i class="bi bi-check-lg"></i>&ensp;사용자가 요구하는 지식 제공 (Presentation Service)</P>
					<P><i class="bi bi-check-lg"></i>&ensp;System Integration / Maintenance 용이</p>
					<P><i class="bi bi-check-lg"></i>&ensp;정보 수집에 이용되는 시간 감소 및 의사 결정 용이</p>
					<P><i class="bi bi-check-lg"></i>&ensp;통합방식과 개별방식을 통해 사용자에게 적합한 지식 정보 제공</p>
					<P><i class="bi bi-check-lg"></i>&ensp;시간 공간 제약의 최소화 (Anytime, Anywhere, Anyone)</P>
					<P><i class="bi bi-check-lg"></i>&ensp;기업내의 협업 기능 강화 및 지식 공유 극대화</p>
					<P><i class="bi bi-check-lg"></i>&ensp;조직자원과 지식 정보에 대한 단일화 된 Web Interface 접근 가능</p>
					<P><i class="bi bi-check-lg"></i>&ensp;Single Sign On과 정보 공유, 정보 검색 용이</p>
					<P><i class="bi bi-check-lg"></i>&ensp;사용자가 직접 자신의 포탈을 개인화가 가능</p>
				  </div>
				</div>
			    <div class="card card-body">
			  	고부가가치의 사업 체계 구축 및 시장에서의 경쟁력 강화
			    </div>
			  </div>
			  <div class="collapse" id="collapseExample2">
			    <div class="card card-body">
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;업무 생산성 향상 지원</P>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;구성원간의 효과적인 협업 지원</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;신속한 사내 정보 획득 지원</p>
			  	<P><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="rgb(233,107,86)" class="bi bi-check-lg" viewBox="0 0 16 16">
			  	  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
			  	</svg>&ensp;사용자 중심의 업무 환경 지원</p>
			    </div>
			  </div>
			   </div>
			  
			  
		    </div>
		  </div>
		</section>
		<!-- END Blogs w/ big image on left -->

		<!-- START Blogs w/ big image on left -->
		<section class="py-5">
		  <div class="container-fluid">

		  </div>
		</section>
		<!-- END Blogs w/ big image on left -->
		
	</main>
	<footer id="footer">
		<div class="row text">
			<div class="col-lg-6 footer-contact">
				<p><strong></strong>주식회사 민소프트</p>
				<!--<p><strong>대표이사:</strong> 김민구</p>-->
				<p><strong></strong>Tel) 02-6482-0051 | Fax) 02-6483-0051</p>
				<p><strong></strong>E-mail: youn628@naver.com</p>
				<p><strong></strong>07788) 서울시 강서구 마곡서로 158, 1306호 ( 마곡센트럴타워Ⅱ )</p>
				<p class="min">
					<img id="logoImg2" src="/images/logo.jpg" alt="로고 이미지">
					&copy; Copyright <strong><span>주식회사 민소프트</span></strong>. All Rights Reserved
				</p>
			</div>

		</div>
	</footer>
	<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->
	<!--   Core JS Files   -->
	<script src="../../assets/js/core/popper.min.js" type="text/javascript"></script>
	<script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../assets/js/plugins/perfect-scrollbar.min.js"></script>
	<!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
	<script src="../../assets/js/plugins/typedjs.js"></script>
	<script src="../../assets/js/plugins/choices.min.js"></script>
	<script src="../../assets/js/plugins/flatpickr.min.js"></script>
	<!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
	<script src="../../assets/js/plugins/parallax.min.js"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
	<!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
	<script src="../../assets/js/plugins/glidejs.min.js" type="text/javascript"></script>
	<!--  Plugin for the blob animation -->
	<script src="../../assets/js/plugins/anime.min.js" type="text/javascript"></script>
	<!-- Chart JS -->
	<script src="../../assets/js/plugins/chartjs.min.js"></script>
	<!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
	<!--  Google Maps Plugin    -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
	<script src="../../assets/js/soft-design-system-pro.min.js?v=1.1.0" type="text/javascript"></script>
	<script>
		if (document.getElementById('language-select')) {
			var element = document.getElementById('language-select');
			const example = new Choices(element, {
				searchEnabled: false
			});

		}
		if (document.getElementById('currency-select')) {
			var element = document.getElementById('currency-select');
			const example = new Choices(element, {
				searchEnabled: false
			});
		}

		/*헤더 네비바 따라 내려오게하는 스크립트*/
		window.addEventListener('scroll', function () {
			var navbar = document.querySelector('.navbar');
			if (window.scrollY > 50) { // 스크롤 위치가 50px 이상인 경우
				navbar.classList.add('fixed-top'); // 고정된 위치로 설정
			} else {
				navbar.classList.remove('fixed-top'); // 일반 위치로 설정
			}
		});

	</script>
</body>
<style>
	/*헤더 부분 css 시작*/
	.text-white {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50vh;
		/* Adjust as needed */
		margin: 0;
		/* Remove any default margin */

	}

	.btn {
		/*배너 사진밑에 버튼 CSS*/

		padding: 10px 50px;
		/* 버튼의 내부 여백을 조정합니다. */
		margin: 50px;
		/* 버튼 사이의 간격을 설정합니다. */
		color: black;
		background-color: white;
		font-size: 30px;
		font-weight: 500;
		/* 글자를 굵게 설정합니다. */
	}

	.mainbutton {
		/*배너 아래 버튼 마진 css*/
		text-align: center;
		margin-bottom: 70px;

	}

	.btn-light:hover {
		/*버튼 호버 색상 변경*/
		color: white;
		/* 호버시 텍스트 색상 변경 */
		background-color: lightgrey;
		/* 호버시 배경색 변경 */
		border-color: blue;
		/* 호버시 테두리 색상 변경 */
	}

	.mainbutton .btn {
		border: none;
		/* 버튼 테두리를 없앱니다 */
	}


	/*헤더 부분 css 끝*/

	/*main시작 css*/

	/*main css 끝*/
	/*푸터 css 시작 */
	.min {
		/*밑에 저작권문구 위치조정*/
		position: absolute;
		bottom: 0;
		right: -70%;
	}

	#footer .footer-contact {
		position: relative;
		margin-left: 100px;
		/* 적당한 여백 값을 지정하세요. */
	}

	#logoImg2 {
		/*푸터부분 이미지위치*/
		position: absolute;
		top: -55px;
		/* 이미지를 위로 이동시킬 픽셀 수 */
		right: 20%;
	}

	#footer {
		/*푸터 위쪽 밑줄*/
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		/* 투명도가 있는 연한 회색으로 변경 */
		padding-top: 30px;
		/* 원하는 간격 설정 */
		margin-top: 50px;
	}



	#fixedNav .nav-link {
		font-weight: bold;
		/* 글자를 굵게 설정합니다. */
		color: black;
		/* 글자 색상을 검은색으로 설정합니다. */
		font-size: 25px;
		/* 원하는 크기로 설정하세요 */
		margin-bottom: 90px;
		/* 아래쪽으로 20px의 공간을 띄웁니다. */
	}

	.text-center {
		margin-top: 50px;
		/* 푸터 요소의 위쪽에 20px의 마진 추가 */
	}

	/*푸터 css 끝*/
</style>

</html>